/* --------------------------------------------------------------------------------------------------------------
Image
-------------------------------------------------------------------------------------------------------------- */
.SUIImage
{
	position: 				relative;

	margin: 				1px;	
	padding:				3px;

	display: 				inline-block;	
	outline:				none;
}

.SUIImage
{
	outline:				#aaaaaa dotted 1px;
}

.SUIImageDisabled
{}

.SUIHTMLView .TopLeft
{
	float: 					left;
		
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			0px 0px;
}

.SUIImageFocus .TopLeft
{}

.SUIImageDisabled .TopLeft
{
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			0px -20px;
}

.SUIImage .TopCenter
{
	float: 					left;
	
	height:					5px;
	
	background: 				transparent url('images/image/background1.png') repeat-x;	
	background-position:			0px -5px;
}

.SUIImageFocus. TopCenter
{}

.SUIImageDisabled .TopCenter
{
	background: 				transparent url('images/image/background1.png') repeat-x;	
	background-position:			0px -25px;
}

.SUIImage .TopRight
{
	float: 					left;
			
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			-5px 0px;
}

.SUIImageFocus .TopRight
{}

.SUIImageDisabled .TopRight
{
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			-5px -20px;
}

.SUIImage .ContentLeft
{
	float: 					left;
	
	width: 					5px;

	background: 				transparent url('images/image/background2.png') repeat-y;	
	background-position:			0px 0px;
}

.SUIImage .ContentLeft
{}

.SUIImageDisabled  .ContentLeft
{
	background: 				transparent url('images/image/background2.png') repeat-y;	
	background-position:			-10px 0px;
}

.SUIImage .ContentCenter
{
	float: 					left;
	
	background-color: 			#ffffff;
	
	outline: 				none;
}

.SUIImageFocus .ContentCenter
{}

.SUIImageDisabled .ContentCenter
{
	background: 				#ffffff;
}

.SUIImage .ContentRight
{
	float: 					left;
	
	width: 					5px;
	
	background: 				transparent url('images/image/background2.png') repeat-y;	
	background-position:			-5px 0px;
}

.SUIImageFocus .ContentRight
{}

.SUIImageDisabled .ContentRight
{
	background: 				transparent url('images/image/background2.png') repeat-y;	
	background-position:			-15px 0px;
}

.SUIImage .BottomLeft
{
	float: 					left;
	
	width: 					5px;
	height:					5px;	
	
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			0px -10px;
}

.SUIImageFocus .BottomLeft
{}

.SUIImageDisabled .BottomLeft
{
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			0px -30px;
}

.SUIImage .BottomCenter
{
	float: 					left;
	
	height:					5px;

	background: 				transparent url('images/image/background1.png') repeat-x;	
	background-position:			0px -15px;
}

.SUIImageFocus .BottomCenter
{}

.SUIImageDisabled .BottomCenter
{
	background: 				transparent url('images/image/background1.png') repeat-x;	
	background-position:			0px -35px;
}

.SUIImage .BottomRight
{
	float: 					left;
	
	height: 				5px;		
	width: 					5px;	
	
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			-5px -10px;
}

.SUIImageFocus .BottomRight
{}



.SUIImageDisabled .BottomRight
{
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			-5px -30px;
}

.SUIImage .Item
{
	float:					left;
	
	margin:					3px;	
	padding:				4px;
	
	width:					90px;
	height:					90px;
	
	background: 				transparent url('images/image/background3.png') no-repeat;
	background-position:			0px 0px;
}

.SUIImageDisabled .Item
{}

.SUIImage .ItemSelected
{
	float:					left;
	
	margin:					3px;
	padding:				4px;
	
	width:					90px;
	height:					90px;
	
	background: 				transparent url('images/image/background3.png') no-repeat;
	background-position:			0px -98px;
}

.SUIImageDisabled .Item
{}

.SUIImageDisabled .ItemSelected
{}

.SUIImage .Image
{
	width:					90px;
	height:					90px;
}



