/* --------------------------------------------------------------------------------------------------------------
LabelWhite
-------------------------------------------------------------------------------------------------------------- */
.SUILabelWhite
{
	position: 				relative;

	margin-top:				10px;

	display: 				inline-block;	
	outline:				none;
}

.SUILabelWhiteDisabled
{}

.SUILabelWhite .Text
{
	float: 					left;
		
	height:					25px;
		

	font-size:				14px;
	text-decoration: 		none;	
	text-shadow: 			1px 1px 1px #222222;		
	
	
	
	color:					#eeeeee;
			
	cursor:					default;	
}

.SUILabelDisabled .Text
{}


