
/* --------------------------------------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------------------------------------- */
.SUIButtonSmall
{
	margin: 				1px;	
	
	padding:				3px;

	font-family:				verdana;		
	font-size:				9px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 0px #444444;		
	text-align:				center;

	display: 				inline-block;	
	outline:				none;	
}

.SUIButtonSmallFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIButtonSmallDisabled
{
}

.SUIButtonSmallLeftClicked
{
}

.SUIButtonSmall .Left
{
	float: 					left;
		
	width: 					5px;
	height: 				18px;
	
	background: 				transparent url('images/buttonsmall/background.png') no-repeat;
	background-position:			0px 0px;
}

.SUIButtonSmallLeftClicked .Left
{
	background-position:			0px -36px;
}

.SUIButtonSmallDisabled .Left
{
	background-position:			0px -72px;
}

.SUIButtonSmall .Center
{
	float: 					left;

	padding-top:				2px;
	
	height:					16px;
	
	background: 				transparent url('images/buttonsmall/background.png') repeat-x;
	background-position:			0px -18px;	
			
	color:					#ffffff;	
	cursor:					default;	
}

.SUIButtonSmallLeftClicked .Center
{
	padding-top:				3px;
	
	height:					15px;
	
	background-position:			0px -54px;
}

.SUIButtonSmallDisabled .Center
{
	background-position:			0px -90px;
	
	text-shadow: 				1px 1px 0px #fff;	
	color:					#777;
}

.SUIButtonSmall .Right
{
	float: 					left;
		
	width: 					5px;
	height: 				18px;
	
	background: 				transparent url('images/buttonsmall/background.png') no-repeat;
	background-position:			-5px 0px;
}

.SUIButtonSmallLeftClicked .Right
{
	background-position:			-5px -36px;
}

.SUIButtonSmallDisabled .Right
{
	background-position:			-5px -72px;
}


