
/* --------------------------------------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------------------------------------- */
.SUIContainerModal
{
	position: 				relative;

	margin: 				1px;	
	padding:				3px;

	display: 				inline-block;	
	outline:				none;
}

.SUIContainerModal .Title
{
	float:					left;

	margin-top:				20px;
		
	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;
}

.SUIContainerModal .Icon
{
	float:					left;
	
	margin-top:				5px;
	margin-left:				10px;
	margin-right:				10px;
}

.SUIContainerModal .TopLeft
{
	float: 					left;
		
	width: 					12px;
	height: 				54px;
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:			0px 0px;
}

.SUIContainerModal .TopCenter
{
	float: 					left;
		
	height:					54px;
	
	background: 				transparent url('images/containermodal/background1.png') repeat-x;	
	background-position:			0px -54px;			
}

.SUIContainerModal .TopRight
{
	float: 					left;
			
	width: 					12px;
	height: 				54px;
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:			-12px 0px;
}

.SUIContainerModal .ContentLeft
{
	float: 					left;
	
	width: 					12px;

	background: 				transparent url('images/containermodal/background2.png') repeat-y;	
	background-position:			0px 0px;
}

.SUIContainerModal .ContentCenter
{
	float: 					left;
	
	background-color: 			#ffffff;
	
	outline: 				none;
}

.SUIContainerModal .ContentRight
{
	float: 					left;
	
	width: 					12px;
	
	background: 				transparent url('images/containermodal/background2.png') repeat-y;	
	background-position:			-12px 0px;
}

.SUIContainerModal .BottomLeft
{
	float: 					left;
	
	width: 					12px;
	height:					12px;	
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:			0px -108px;
}

.SUIContainerModal .BottomCenter
{
	float: 					left;
	
	height:					12px;

	background: 				transparent url('images/containermodal/background1.png') repeat-x;	
	background-position:			0px -120px;
}

.SUIContainerModal .BottomRight
{
	float: 					left;
	
	height: 				12px;		
	width: 					12px;	
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:			-12px -108px;
}





