

/* --------------------------------------------------------------------------------------------------------------
Dropbox
-------------------------------------------------------------------------------------------------------------- */
.SUIDropbox
{
	margin: 				1px;	
	padding: 				3px;

	display: 				inline-block;	
	outline:				none;

	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;	
}

.SUIDropboxFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIDropboxDisabled
{
}

.SUIDropbox .Left
{
	float: 					left;
			
	width: 					4px;
	height: 				32px;
	
	background: 				transparent url('images/dropbox/background.png') no-repeat;
	background-position:			0px 0px;
}

.SUIDropboxDisabled .Left
{
	background-position:			0px -96px;
}

.SUIDropbox .Center
{
	position:				relative;	
	float: 					left;
	
	height:					32px;
	
	background: 				transparent url('images/dropbox/background.png') repeat-x;
	background-position:			0px -64px;
}

.SUIDropboxDisabled .Center
{
	background-position:			0px -128px;	
	
	color:					#aaaaaa;
}

.SUIDropbox .Right
{
	float: 					left;
			
	width: 					3px;
	height: 				32px;
	
	background: 				transparent url('images/dropbox/background.png') no-repeat;
	background-position:			-4px  0px;	
}

.SUIDropboxDisabled .Right
{
	background-position:			-4px -96px;
}

.SUIDropbox .Text
{
	margin:					8px 0px 0px 4px;
			
	color:					#444444;	
	cursor:					default;	
}

.SUIDropboxDisabled .Text
{
	color:					#999999;
}

.SUIDropbox .Arrow
{
	position: 				absolute;
	
	top: 					0px;
	right:					0px;
	
	width:					33px;
	height:					32px;
	
	background: 				transparent url('images/dropbox/background.png') no-repeat;
	background-position:			0px -32px;
}

.SUIDropboxDisabled .Arrow
{
	background-position:			0px -160px;
}

.SUIDropbox .ItemList
{
	margin:					0px;
	padding:				0px;

	border-style: 				none solid solid solid;
	border-width: 				1px;
	border-color: 				#cdcdcd;
	
	background: 				#f7f9f9 url('images/dropbox/background_itemlist.png') repeat-x;	
	background-position:			bottom right;

	z-index:				100;
}

.SUIDropbox .Item
{
	padding:				4px;
	padding-left:				4px;
	
	color:					#444444;
	cursor:					default;	
}

.SUIDropbox .ItemFocus
{
	background-color:			#d9dfdf;
	color:					#444444;
}

.SUIDropbox .ItemSelected
{
	background-color:			#45b5f7;	
	
	color:					#444444;
}

