
/* --------------------------------------------------------------------------------------------------------------
Iconview
-------------------------------------------------------------------------------------------------------------- */
.SUIIconview
{
	position: 				relative;

	margin: 				1px;	
	padding:				3px;

	display: 				inline-block;	
	outline:				none;
}

.SUIIconviewFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIIconviewDisabled
{}

.SUIIconview .TopLeft
{
	float: 					left;
		
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			0px 0px;
}

SUIIconviewFocus .TopLeft
{}

.SUIIconviewDisabled .TopLeft
{
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			0px -20px;
}

.SUIIconview .TopCenter
{
	float: 					left;
	
	height:					5px;
	
	background: 				transparent url('images/iconview/background1.png') repeat-x;	
	background-position:			0px -5px;
}

.SUIIconviewFocus. TopCenter
{}

.SUIIconviewDisabled .TopCenter
{
	background: 				transparent url('images/iconview/background1.png') repeat-x;	
	background-position:			0px -25px;
}

.SUIIconview .TopRight
{
	float: 					left;
			
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			-5px 0px;
}

.SUIIconviewFocus .TopRight
{}

.SUIIconviewDisabled .TopRight
{
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			-5px -20px;
}

.SUIIconview .ContentLeft
{
	float: 					left;
	
	width: 					5px;

	background: 				transparent url('images/iconview/background2.png') repeat-y;	
	background-position:			0px 0px;
}

.SUIIconviewFocus .ContentLeft
{}

.SUIIconviewDisabled  .ContentLeft
{
	background: 				transparent url('images/iconview/background2.png') repeat-y;	
	background-position:			-10px 0px;
}

.SUIIconview .ContentCenter
{
	float: 					left;
	
	background-color: 			#ffffff;
	
	outline: 				none;
}

.SUIIconviewFocus .ContentCenter
{}

.SUIIconviewDisabled .ContentCenter
{
	background: 				#ffffff;
}

.SUIIconview .ContentRight
{
	float: 					left;
	
	width: 					5px;
	
	background: 				transparent url('images/iconview/background2.png') repeat-y;	
	background-position:			-5px 0px;
}

.SUIIconviewFocus .ContentRight
{}

.SUIIconviewDisabled .ContentRight
{
	background: 				transparent url('images/iconview/background2.png') repeat-y;	
	background-position:			-15px 0px;
}

.SUIIconview .BottomLeft
{
	float: 					left;
	
	width: 					5px;
	height:					5px;	
	
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			0px -10px;
}

.SUIIconviewFocus .BottomLeft
{}

.SUIIconviewDisabled .BottomLeft
{
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			0px -30px;
}

.SUIIconview .BottomCenter
{
	float: 					left;
	
	height:					5px;

	background: 				transparent url('images/iconview/background1.png') repeat-x;	
	background-position:			0px -15px;
}

.SUIIconviewFocus .BottomCenter
{}

.SUIIconviewDisabled .BottomCenter
{
	background: 				transparent url('images/iconview/background1.png') repeat-x;	
	background-position:			0px -35px;
}

.SUIIconview .BottomRight
{
	float: 					left;
	
	height: 				5px;		
	width: 					5px;	
	
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			-5px -10px;
}

.SUIIconviewFocus .BottomRight
{}



.SUIIconviewDisabled .BottomRight
{
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			-5px -30px;
}

.SUIIconview .Item
{
	float:					left;
	
	margin:					3px;	
	padding:				4px;
	
	width:					90px;
	height:					90px;
	
	background: 				transparent url('images/iconview/background3.png') no-repeat;
	background-position:			0px 0px;
}

.SUIIconviewDisabled .Item
{}

.SUIIconview .ItemSelected
{
	float:					left;
	
	margin:					3px;
	padding:				4px;
	
	width:					90px;
	height:					90px;
	
	background: 				transparent url('images/iconview/background3.png') no-repeat;
	background-position:			0px -98px;
}

.SUIIconviewDisabled .Item
{}

.SUIIconviewDisabled .ItemSelected
{}

.SUIIconview .Image
{
	width:					90px;
	height:					90px;
}

