
/* --------------------------------------------------------------------------------------------------------------
Label
-------------------------------------------------------------------------------------------------------------- */
.SUILabel
{
	position: 				relative;

	margin-top:				10px;

	display: 				inline-block;	
	outline:				none;
}

.SUILabelDisabled
{}

.SUILabel .Text
{
	float: 					left;
		
	height:					25px;
		

	font-size:				14px;
	text-decoration: 		none;	
	text-shadow: 			1px 1px 1px #eeeeee;		
	
	
	
	color:					#222222;
			
	cursor:					default;	
}

.SUILabelDisabled .Text
{}

