
/* --------------------------------------------------------------------------------------------------------------
Listview
-------------------------------------------------------------------------------------------------------------- */
.SUIListview
{
	margin: 				1px;		
	padding:				3px;
		
	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;		

	display: 				inline-block;	
	outline:				none;
}

.SUIListviewFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIListviewDisabled
{}

.SUIListview .TopLeft
{
	float: 					left;
		
	width: 					5px;
	height: 				32px;
	
	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px 0px;	
}

SUIListviewFocus .TopLeft
{}

.SUIListviewDisabled .TopLeft
{
	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px -74px;	
}

.SUIListview .TopCenter
{
	float: 					left;
	
	height:					32px;

	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px -32px;
}

.SUIListviewFocus. TopCenter
{}

.SUIListviewDisabled .TopCenter
{
	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px -106px;	
	
	color:					#aaaaaa;
}

.SUIListview .TopRight
{
	float: 					left;
			
	width: 					5px;
	height: 				32px;	

	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			-5px 0px;
}

.SUIListviewFocus .TopRight
{}

.SUIListviewDisabled .TopRight
{
	background: 				transparent url('images/listview/background1.png') no-repeat;	
	background-position:			-5px -74px;	
}

.SUIListview .ContentLeft
{
	float: 					left;
	
	width: 					5px;
	
	background: 				transparent url('images/listview/background2.png') repeat-y;	
	background-position:			0px 0px;	
}

.SUIListviewFocus .ContentLeft
{}

.SUIListviewDisabled  .ContentLeft
{
	background: 				transparent url('images/listview/background2.png') repeat-y;	
	background-position:			-10px 0px;	
}

.SUIListview .ContentCenter
{
	float: 					left;	
	
	background-color:			#ffffff;
	
	outline: 				none;
}

.SUIListviewFocus .ContentCenter
{}

.SUIListviewDisabled .ContentCenter
{
}

.SUIListview .ContentRight
{
	float: 					left;
	
	width: 					5px;

	background: 				transparent url('images/listview/background2.png') repeat-y;	
	background-position:			-5px 0px;	
}

.SUIListviewFocus .ContentRight
{}

.SUIListviewDisabled .ContentRight
{
	background: 				transparent url('images/listview/background2.png') repeat-y;	
	background-position:			-15px 0px;	
}

.SUIListview .BottomLeft
{
	float: 					left;
	
	width: 					5px;
	height:					5px;
	
	background: 				transparent url('images/listview/background1.png') no-repeat;	
	background-position:			0px -64px;		
}

.SUIListviewFocus .BottomLeft
{}

.SUIListviewDisabled .BottomLeft
{
	background: 				transparent url('images/listview/background1.png') no-repeat;	
	background-position:			0px -138px;	
}

.SUIListview .BottomCenter
{
	float: 					left;
	
	height:					5px;

	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px -69px;		

}

.SUIListviewFocus .BottomCenter
{}

.SUIListviewDisabled .BottomCenter
{
	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px -143px;	
}

.SUIListview .BottomRight
{
	float: 					left;

		
	height: 				5px;		
	width: 					5px;	

	background: 				transparent url('images/listview/background1.png') no-repeat;	
	background-position:			-5px -64px;			
}

.SUIListviewFocus .BottomRight
{}

.SUIListviewDisabled .BottomRight
{
	background: 				transparent url('images/listview/background1.png') no-repeat;	
	background-position:			-5px -138px;	
}

.SUIListview .Header
{
	float:					left;
	
	padding-top:				8px;
	padding-left:				10px;	
	
	height: 				25px;
			
	text-decoration: 			none;		
	color:					#222222;
}

.SUIListviewDisabled .Header
{
	background: 				transparent url('images/listview/header_disabled.png') no-repeat;	
	background-position:			right center;	

	color:					#aaaaaa;
}

.SUIListview .ItemRow
{	
	cursor:					default;
	height:					25px;
}

.SUIListview .ItemRowSelected
{
	background:				#eeeeee;	
}

.SUIListviewFocus .ItemRow
{}

.SUIListviewDisabled .ItemRow
{}

.SUIListviewFocus .ItemRowSelected
{	
	background-color:			#54bbf8;
}

.SUIListviewDisabled .ItemRow
{
	cursor:					default;
}

.SUIListviewDisabled .ItemRowSelected
{
	background-color:			#dddddd;
	cursor:					default;
}

.SUIListview .ItemColumn
{
	float:					left;
	
	padding-top:				5px;
	padding-left:				10px;	

	height: 				20px;
		
	font-size:				13px;
	text-decoration: 			none;	
	color:					#444;	
}

.SUIListview .ItemRowSelected .ItemColumn
{
	color:					#000;
}

.SUIListviewDisabled .ItemColumn
{
	color: 					#aaaaaa;
}

