/* --------------------------------------------------------------------------------------------------------------
Upload
-------------------------------------------------------------------------------------------------------------- */
.SUIUpload
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIUploadFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIUploadDisabled
{}

.SUIUpload .Left
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					5px;
	height: 				31px;
	
	background: 				transparent url('images/upload/left.png') no-repeat;	
}

.SUIUploadFocus .Left
{}

.SUIUploadLeftClicked .Left
{
	background: 				transparent url('images/upload/left_leftclicked.png') no-repeat;	
}

.SUIUploadDisabled .Left
{
	background: 				transparent url('images/upload/left_disabled.png') no-repeat;	
}

.SUIUpload .Center
{
	float: 					left;

	margin-top: 				3px;
	margin-bottom:				3px;

	padding-top:				8px;
	
	height:					23px;
	background: 				transparent url('images/upload/center.png') repeat-x;
	
	font-size: 				12px;
	font-weight:				bold;
	text-align:				center;		
	text-decoration: 			none;	
	
	color:					#555555;
	
	cursor:					default;
}

.SUIUploadFocus .Center
{}

.SUIUploadLeftClicked .Center
{
	padding-top:				9px;
	
	height:					23px;
	
	background: 				transparent url('images/upload/center_leftclicked.png') repeat-x;
}

.SUIUploadDisabled .Center
{
	background: 				transparent url('images/upload/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIUpload .Right
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					5px;
	height: 				31px;
	
	background: 				transparent url('images/upload/right.png') no-repeat;	
}

.SUIUploadFocus .Right
{}

.SUIUploadLeftClicked .Right
{
	background: 				transparent url('images/upload/right_leftclicked.png') no-repeat;	
}

.SUIUploadDisabled .Right
{
	background: 				transparent url('images/upload/right_disabled.png') no-repeat;	
}

.SUIUpload .Text
{
	float:					right;

	margin:					11px;		
	
	font-size: 				12px;
	font-weight:				bold;
	text-align:				center;		
	text-decoration: 			none;	
	
	color:					#555555;
}

.SUIUploadFocus .Text
{}

.SUIUploadDisabeld .Text
{
	color:					#aaaaaa;
}

.SUIUpload .Th
{
	float: right;
	margin: 3px;

	width: 32px;
	height: 31px;	
	
	background: 				transparent url('images/upload/throbber.png') no-repeat;		
}

.SUIUpload .ThrobberAnimation
{
	position: 				relative;

	width:					24px;
	height:					24px;

	background: 				transparent url('images/upload/throbber_animation.gif') no-repeat;		
}






.SUIUploadContainer
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIUploadContainerFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIUploadControlButtonLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					4px;
	height: 				31px;
	
	background: 				transparent url('images/upload/left.png') no-repeat;	
}

.SUIUploadControlButtonLeftFocus
{
}

.SUIUploadControlButtonLeftClicked
{
	background: 				transparent url('images/upload/left_clicked.png') no-repeat;	
}

.SUIUploadControlButtonLeftDisabled
{
	background: 				transparent url('images/upload/left_disabled.png') no-repeat;	
}

.SUIUploadControlButtonCenter
{
	float: 					left;

	margin-top: 				3px;
	margin-bottom:				3px;

	padding-top:				8px;
	
	height:					23px;
	background: 				transparent url('images/upload/center.png') repeat-x;
	
	font-size: 				14px;
	font-weight:				bold;
	text-align:				center;		
	text-decoration: 			none;	
	
	color:					#555555;
	
}

.SUIUploadControlButtonCenterFocus
{
}

.SUIUploadControlButtonCenterClicked
{
	padding-top:				4px;
	
	height:					18px;
	
	background: 				transparent url('images/upload/center_clicked.png') repeat-x;	
}

.SUIUploadControlButtonCenterDisabled
{
	background: 				transparent url('images/upload/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIUploadControlButtonRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					4px;
	height: 				31px;
	
	background: 				transparent url('images/upload/right.png') no-repeat;	
}

.SUIUploadControlButtonRightFocus
{
}

.SUIUploadControlButtonRightClicked
{
	background: 				transparent url('images/upload/right_clicked.png') no-repeat;	
}

.SUIUploadControlButtonRightDisabled
{
	background: 				transparent url('images/upload/right_disabled.png') no-repeat;	
}

.SUIUploadText
{
	margin:					7px;		
	
	font-size: 				14px;
	font-weight:				bold;
	text-align:				center;		
	text-decoration: 			none;	
	
	color:					#555555;
}