/* --------------------------------------------------------------------------------------------------------------
Dropbox
-------------------------------------------------------------------------------------------------------------- */
.SUIDropbox
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIDropboxFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIDropboxDisabled
{
}


.SUIDropbox .Left
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					4px;
	height: 				31px;
	background: 				transparent url('images/dropbox/left.png') no-repeat;
}

.SUIDropboxDisabled .Left
{
	background: 				transparent url('images/dropbox/left_disabled.png') no-repeat;	
}

.SUIDropbox .Center
{
	position:				relative;
	
	float: 					left;

	margin-top: 				3px;	
	margin-bottom:				3px;
	
	height:					31px;
	background: 				transparent url('images/dropbox/center.png') repeat-x;	
}

.SUIDropboxDisabled .Center
{
	background: 				transparent url('images/dropbox/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIDropbox .Right
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					4px;
	height: 				31px;
	
	background: 				transparent url('images/dropbox/right.png') no-repeat;	
}

.SUIDropboxDisabled .Right
{
	background: 				transparent url('images/dropbox/right_disabled.png') no-repeat;	
}

.SUIDropbox .Text
{
	margin:					4px;
	margin-top: 8px;
	
	font-size:				14px;
	font-weight:				bold;
	
	text-decoration: 			none;	
	
	color:					#444444;
	
	cursor:					default;
	
	-moz-user-select: 			none;
	-khtml-user-select: 			none;
	user-select: 				none;	
}

.SUIDropboxDisabled .Text
{
	color:					#aaaaaa;
}

.SUIDropbox .Arrow
{
	position: 				absolute;
	
	top: 					1px;
	right:					0px;
	
	width:					26px;
	height:					25px;
	
	background: 				transparent url('images/dropbox/arrow.png') no-repeat;	
}

.SUIDropboxDisabled .Arrow
{
	background: 				transparent url('images/dropbox/arrow_disabled.png') no-repeat;	
}

.SUIDropbox .ItemList
{
	position:				absolute;
	
	top:					30px;
	left:					-1px;

	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	
	background: 				#f4f4f5 url('images/dropbox/itemlist.png') repeat-x;	

	z-index: 100;
}

.SUIDropbox .Item
{
	padding:				3px;
	padding-left:				4px;
	
	font-size:				14px;
	font-weight:			bold;
	text-decoration: 			none;	
	
	color:					#444444;
	
	cursor:					default;
	
	-moz-user-select: 			none;
	-khtml-user-select: 			none;
	user-select: 				none;
}

.SUIDropbox .ItemFocus
{
	background:				#bbbbbb;
	
	color:					#ffffff;
}

.SUIDropbox .ItemSelected
{
	background:				#86b510;
	
	color:					#ffffff;
}














.SUIDropboxContainer
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIDropboxContainerFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIDropboxControlLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					4px;
	height: 				31px;
	background: 				transparent url('images/dropbox/left.png') no-repeat;	
}

.SUIDropboxControlLeftDisabled
{
	background: 				transparent url('images/dropbox/left_disabled.png') no-repeat;	
}

.SUIDropboxControlCenter
{
	float: 					left;

	margin-top: 				3px;	
	margin-bottom:				3px;
	
	height:					31px;
	background: 				transparent url('images/dropbox/center.png') repeat-x;	
}

.SUIDropboxControlCenterDisabled



{
	background: 				transparent url('images/dropbox/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIDropboxControlRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					4px;
	height: 				31px;
	
	background: 				transparent url('images/dropbox/right.png') no-repeat;	
}

.SUIDropboxControlRightDisabled
{
	background: 				transparent url('images/dropbox/right_disabled.png') no-repeat;	
}

.SUIDropboxControlInput
{	
	margin: 				2px;

	border:					none;

	background:				transparent;
	
	font-size:				13px;
}

.SUIDropboxControlArrow
{
	position: 				absolute;
	
	top: 					1px;
	right:					0px;
	
	width:					26px;
	height:					25px;
	
	background: 				transparent url('images/dropbox/arrow.png') no-repeat;	
}

.SUIDropboxControlArrowDisabled
{
	background: 				transparent url('images/dropbox/arrow_disabled.png') no-repeat;	
}

.SUIDropboxControlText
{
	margin:					4px;
	margin-top: 8px;
	
	font-size:				14px;
	font-weight:			bold;
	
	text-decoration: 			none;	
	
	color:					#444444;
	
	cursor:					default;
	
	-moz-user-select: 			none;
	-khtml-user-select: 			none;
	user-select: 				none;	

}

.SUIDropboxControlTextDisabled
{
	color:					#aaaaaa;
}


.SUIDropboxControlItem
{
	padding:				3px;
	padding-left:				4px;
	
		font-size:				14px;
	font-weight:			bold;
	text-decoration: 			none;	
	
	color:					#555555;
	
	cursor:					default;
	
	-moz-user-select: 			none;
	-khtml-user-select: 			none;
	user-select: 				none;	
}

.SUIDropboxControlItemFocus
{	
	background:				#444444;
	
	color:					#ffffff;
}



.SUIDropboxControlDrop
{
	position:				absolute;
	
	top:					30px;
	left:					-1px;
	
	border-style: 1px;
	border-color: #666666;
	
	background: 				#dbdbdb;
	
	

	
	z-index: 100;
}