/* --------------------------------------------------------------------------------------------------------------
Iconview
-------------------------------------------------------------------------------------------------------------- */
.SUIIconview
{
	position: 				relative;

	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIIconviewFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIIconviewDisabled
{}

.SUIIconview .TopLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;

	
	width: 					5px;
	height: 				5px;
	background: 				transparent url('images/iconview/top_left.png') no-repeat;		
}

SUIIconviewFocus .TopLeft
{}

.SUIIconviewDisabled .TopLeft
{
	background: 				transparent url('images/iconview/top_left_disabled.png') no-repeat;	
}

.SUIIconview .TopCenter
{
	float: 					left;

	margin-top: 				3px;	

	
	height:					5px;
	background: 				transparent url('images/iconview/top_center.png') repeat-x;	
}

.SUIIconviewFocus. TopCenter
{}

.SUIIconviewDisabled .TopCenter
{
	background: 				transparent url('images/iconview/top_center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIIconview .TopRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;

		
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/iconview/top_right.png') no-repeat;	
}

.SUIIconviewFocus .TopRight
{}

.SUIIconviewDisabled .TopRight
{
	background: 				transparent url('images/iconview/top_right_disabled.png') no-repeat;	
}

.SUIIconview .ContentLeft
{
	float: 					left;
	
	margin-left:				3px;


	width: 					5px;

	background: 				transparent url('images/iconview/content_left.png') repeat-y;	
}

.SUIIconviewFocus .ContentLeft
{}

.SUIIconviewDisabled  .ContentLeft
{
	background: 				transparent url('images/iconview/content_left_disabled.png') repeat-y;	
}

.SUIIconview .ContentCenter
{
	float: 					left;
	
	background: 				#ffffff url('images/iconview/content_center.png') repeat-x;		
	
	outline: 				none;
}

.SUIIconviewFocus .ContentCenter
{}

.SUIIconviewDisabled .ContentCenter
{
	background: 				#ffffff url('images/iconview/content_center_disabled.png') repeat-x;	
}

.SUIIconview .ContentRight
{
	float: 					left;
	
	margin-right:				3px;

		
	width: 					5px;
	
	background: 				transparent url('images/iconview/content_right.png') repeat-y;	
}

.SUIIconviewFocus .ContentRight
{}

.SUIIconviewDisabled .ContentRight
{
	background: 				transparent url('images/iconview/content_right_disabled.png') repeat-y;	
}

.SUIIconview .BottomLeft
{
	float: 					left;
	
	margin-left:				3px;
	margin-bottom:				3px;


	width: 					5px;
	height:					5px;	
	
	background: 				transparent url('images/iconview/bottom_left.png') no-repeat;	
}

.SUIIconviewFocus .BottomLeft
{}

.SUIIconviewDisabled .BottomLeft
{
	background: 				transparent url('images/iconview/bottom_left_disabled.png') no-repeat;	
}

.SUIIconview .BottomCenter
{
	float: 					left;
	
	margin-bottom:				3px;
	
	height:					5px;

	background: 				transparent url('images/iconview/bottom_center.png') repeat-x;		
}

.SUIIconviewFocus .BottomCenter
{}

.SUIIconviewDisabled .BottomCenter
{
	background: 				transparent url('images/iconview/bottom_center_disabled.png') repeat-x;	
}

.SUIIconview .BottomRight
{
	float: 					left;
	
	margin-right:				3px;
	margin-bottom:				3px;
	
	height: 				5px;

		
	width: 					5px;	
	
	background: 				transparent url('images/iconview/bottom_right.png') no-repeat;
}

.SUIIconviewFocus .BottomRight
{}

.SUIIconviewDisabled .BottomRight
{
	background: 				transparent url('images/iconview/bottom_right_disabled.png') no-repeat;
}



.SUIIconview .ItemRow
{	
	padding-top: 				2px;
	
	height:					20px;	

	background:				transparent;

	cursor:					default;	
}

.SUIIconview .ItemRowSelected
{
	background:				#bbbbbb;	
}

.SUIIconviewFocus .ItemRow
{}

.SUIIconviewDisabled .ItemRow
{

	
}



.SUIIconviewFocus .ItemRowSelected
{	
	background-color:			#86b510;
}

.SUIIconviewDisabled .ItemRow
{
	cursor:					default;
}

.SUIIconviewDisabled .ItemRowSelected
{
	background-color:			#dddddd;
	cursor:					default;
}




.SUIIconview .Item
{
	float:					left;
	
	margin:					6px;
	
	padding: 				5px;
	
	width:					80px;
	height:					80px;
	
	background: 				transparent url('images/iconview/item.png') no-repeat;
}


.SUIIconview .ItemSelected
{
	float:					left;
	
	margin:					6px;
	
	padding: 				5px;
	
	width:					80px;
	height:					80px;
	
	background: 				transparent url('images/iconview/item_selected.png') no-repeat;
}

.SUIIconview .Image
{
	width:					80px;
	height:					80px;
}

.SUIIconviewDisabled .Item
{

}

.SUIIconviewDisabled .ItemSelected
{

}
