/* --------------------------------------------------------------------------------------------------------------
Listview
-------------------------------------------------------------------------------------------------------------- */
.SUIListview
{
	position: relative;

	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIListviewFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIListviewDisabled
{}

.SUIListview .TopLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;

	
	width: 					5px;
	height: 				34px;
	background: 				transparent url('images/listview/top_left.png') no-repeat;		
}

SUIListviewFocus .TopLeft
{}

.SUIListviewDisabled .TopLeft
{
	background: 				transparent url('images/listview/top_left_disabled.png') no-repeat;	
}

.SUIListview .TopCenter
{
	float: 					left;

	margin-top: 				3px;	

	
	height:					34px;
	background: 				transparent url('images/listview/top_center.png') repeat-x;	
}

.SUIListviewFocus. TopCenter
{}

.SUIListviewDisabled .TopCenter
{
	background: 				transparent url('images/listview/top_center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIListview .TopRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;

		
	width: 					5px;
	height: 				34px;
	
	background: 				transparent url('images/listview/top_right.png') no-repeat;	
}

.SUIListviewFocus .TopRight
{}

.SUIListviewDisabled .TopRight
{
	background: 				transparent url('images/listview/top_right_disabled.png') no-repeat;	
}

.SUIListview .ContentLeft
{
	float: 					left;
	
	margin-left:				3px;


	width: 					5px;

	background: 				transparent url('images/listview/content_left.png') repeat-y;	
}

.SUIListviewFocus .ContentLeft
{}

.SUIListviewDisabled  .ContentLeft
{
	background: 				transparent url('images/listview/content_left_disabled.png') repeat-y;	
}

.SUIListview .ContentCenter
{
	float: 					left;
	
	background: 				#ffffff url('images/listview/content_center.png') repeat-x;		
	
	outline: 				none;
}

.SUIListviewFocus .ContentCenter
{}

.SUIListviewDisabled .ContentCenter
{
	background: 				#ffffff url('images/listview/content_center_disabled.png') repeat-x;	
}

.SUIListview .ContentRight
{
	float: 					left;
	
	margin-right:				3px;

		
	width: 					5px;
	
	background: 				transparent url('images/listview/content_right.png') repeat-y;	
}

.SUIListviewFocus .ContentRight
{}

.SUIListviewDisabled .ContentRight
{
	background: 				transparent url('images/listview/content_right_disabled.png') repeat-y;	
}

.SUIListview .BottomLeft
{
	float: 					left;
	
	margin-left:				3px;
	margin-bottom:				3px;


	width: 					5px;
	height:					4px;	
	
	background: 				transparent url('images/listview/bottom_left.png') no-repeat;	
}

.SUIListviewFocus .BottomLeft
{}

.SUIListviewDisabled .BottomLeft
{
	background: 				transparent url('images/listview/bottom_left_disabled.png') no-repeat;	
}

.SUIListview .BottomCenter
{
	float: 					left;
	
	margin-bottom:				3px;
	
	height:					4px;

	background: 				transparent url('images/listview/bottom_center.png') repeat-x;		
}

.SUIListviewFocus .BottomCenter
{}

.SUIListviewDisabled .BottomCenter
{
	background: 				transparent url('images/listview/bottom_center_disabled.png') repeat-x;	
}

.SUIListview .BottomRight
{
	float: 					left;
	
	margin-right:				3px;
	margin-bottom:				3px;
	
	height: 				4px;

		
	width: 					5px;	
	
	background: 				transparent url('images/listview/bottom_right.png') no-repeat;
}

.SUIListviewFocus .BottomRight
{}

.SUIListviewDisabled .BottomRight
{
	background: 				transparent url('images/listview/bottom_right_disabled.png') no-repeat;
}

.SUIListview .Header
{
	float:					left;
	
	margin-left:				4px;
	margin-top:				8px;
	margin-right:				4px;
	
	font-size:				14px;
	font-weight:				bold;
	text-decoration: 			none;	
	
	background: 				transparent url('images/listview/header.png') no-repeat;	
	background-position:			right center;	
	color:					#555555;
}

.SUIListviewDisabled .Header
{
	background: 				transparent url('images/listview/header_disabled.png') no-repeat;	
	background-position:			right center;	

	color:					#aaaaaa;
}



.SUIListview .ItemRow
{	
	padding-top: 				2px;
	
	height:					20px;	

	background:				transparent;

	cursor:					default;	
}

.SUIListview .ItemRowSelected
{
	background:				#bbbbbb;	
}

.SUIListviewFocus .ItemRow
{}

.SUIListviewDisabled .ItemRow
{

	
}



.SUIListviewFocus .ItemRowSelected
{	
	background-color:			#86b510;
}

.SUIListviewDisabled .ItemRow
{
	cursor:					default;
}

.SUIListviewDisabled .ItemRowSelected
{
	background-color:			#dddddd;
	cursor:					default;
}




.SUIListview .ItemColumn
{
	float:					left;
	
	margin-left:				4px;
	margin-right:				4px;
	padding-top:				2px;
	padding-bottom:				2px;
	
	
	font-size:				14px;
	font-weight:				bold;
	text-decoration: 			none;	

	background: 				transparent url('images/listview/item.png') repeat-y;

	background-position:			right top;	
}

.SUIListview .ItemRowSelected .ItemColumn
{
	color: #ffffff;
}

.SUIListviewDisabled .ItemColumn
{
	color: #aaaaaa;
}