/* --------------------------------------------------------------------------------------------------------------
Text
-------------------------------------------------------------------------------------------------------------- */
.SUIText
{
	position: 				relative;

	margin:					10px;	

	display: 				inline-block;	
	outline:				none;
}

.SUITextDisabled
{}

.SUIText .Text
{
	float: 					left;
			
	font-size:				14px;
	text-decoration: 		none;	
	text-shadow: 			1px 1px 1px #eeeeee;		
	line-height:			23px;
		
	color:					#222222;
			
	cursor:					default;	
}

.SUITextDisabled .Text
{}


