/* --------------------------------------------------------------------------------------------------------------
Textbox
-------------------------------------------------------------------------------------------------------------- */
.SUITextbox
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUITextboxFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUITextboxDisabled
{
}

.SUITextbox .Left
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					5px;
	height: 				31px;
	
	background: 				transparent url('images/textbox/left.png') no-repeat;
}

.SUITextboxFocus .Left
{
}

.SUITextboxDisabled .Left
{
	background: 				transparent url('images/textbox/left_disabled.png') no-repeat;	
}

.SUITextbox .Center
{
	float: 					left;

	margin-top: 				3px;	
	margin-bottom:				3px;
	
	height:					31px;
	
	background: 				transparent url('images/textbox/center.png') repeat-x;	
}

.SUITextboxFocus .Center
{
}

.SUITextboxDisabled .Center
{
	background: 				transparent url('images/textbox/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUITextbox .Right
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					5px;
	height: 				31px;
	
	background: 				transparent url('images/textbox/right.png') no-repeat;
}

.SUITextboxFocus .Right
{
}

.SUITextboxDisabled .Right
{
	background: 				transparent url('images/textbox/right_disabled.png') no-repeat;	
}

.SUITextbox .Input
{
	margin: 				2px;
	margin-top: 				7px;
	margin-left: 				2px;
	margin-right: 				10px;

	border:					none;

width: 0px;

	background:				transparent;
	
	font-family: 				arial;
	font-size:				14px;
	font-weight:				bold;
}

.SUITextboxFocus .Input
{
}

.SUITextboxDisabled .Input
{
	cursor:					default;
}




.SUITextboxContainer
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUITextboxContainerFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUITextboxControlLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					5px;
	height: 					31px;
	background: 				transparent url('images/textbox/left.png') no-repeat;	
}

.SUITextboxControlLeftDisabled
{
	background: 				transparent url('images/textbox/left_disabled.png') no-repeat;	
}

.SUITextboxControlCenter
{
	float: 					left;

	margin-top: 				3px;	
	margin-bottom:				3px;
	
	height:					31px;
	background: 				transparent url('images/textbox/center.png') repeat-x;	
}

.SUITextboxControlCenterDisabled
{
	background: 				transparent url('images/textbox/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUITextboxControlRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					5px;
	height: 					31px;
	
	background: 				transparent url('images/textbox/right.png') no-repeat;	
}

.SUITextboxControlRightDisabled
{
	background: 				transparent url('images/textbox/right_disabled.png') no-repeat;	
}

.SUITextboxControlInput
{	
	margin: 				2px;
	margin-top: 7px;
	margin-left: 2px;
	margin-right: 2px;

	border:					none;

	background:				transparent;
	font-family: arial;
	font-size:				14px;
	font-weight:			bold;
}
