	
	/********************************************************/
/*                       13. Icons                      */
/********************************************************/

@font-face {
	font-family: 'EntypoRegular';
			
	src: url('fonts/Entypo/entypo-webfont.eot');
	src: url('fonts/Entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Entypo/entypo-webfont.woff') format('woff'),
		 url('fonts/Entypo/entypo-webfont.ttf') format('truetype'),
		 url('fonts/Entypo/entypo-webfont.svg#EntypoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	font-family: 'EntypoRegular';
	width: 12px;
	font-size: 2em;
	line-height: 1em;
	margin: -0.5em 0.115em -0.5em -0.077em;
	vertical-align: -0.077em;
	}
	.button.icon:before, .button > .icon:before,
	.button-icon.icon:before, .button-icon > .icon:before {
		font-size: 2.3em;
		margin-top: -0.65em;
		margin-bottom: -0.65em;
		vertical-align: -0.133em;
	}

	/* Sizes */
	.icon-size2:before {
		font-size: 3.5em;
		margin-top: -1.25em;
		margin-bottom: -1.25em;
		vertical-align: -0.132em;
	}
	.icon-size3:before {
		font-size: 4.5em;
		margin-top: -1.75em;
		margin-bottom: -1.75em;
		vertical-align: -0.171em;
	}
	.icon-size4:before {
		font-size: 7em;
		margin-top: -3em;
		margin-bottom: -3em;
		vertical-align: middle;
	}
	.icon-size5:before {
		font-size: 10em;
		margin-top: -4.5em;
		margin-bottom: -4.5em;
		vertical-align: middle;
	}

	/* IE9 goes crazy with relative font-sizes */
	.ie9 .icon-size2:before,
	.ie9 .icon-size3:before,
	.ie9 .icon-size4:before,
	.ie9 .icon-size5:before {
		font-size: 0.25em;
	}

	/* Empty icons */
	[class^="icon-"]:empty:before,
	[class*=" icon-"]:empty:before {
		margin-right: -0.077em;
		margin-left: -0.077em;
	}

	/* IE7 */
	.font-icon {
		font-weight: normal;
		font-style: normal;
		font-family: 'EntypoRegular';
		font-size: 2em;
		margin: -0.5em 0.115em -0.5em -0.077em;
		vertical-align: middle;
		}
		.font-icon.empty {
			margin-right: -2px;
			margin-left: -2px;
		}
		/* Sizes */
		.icon-size2 > .font-icon {
			font-size: 3.5em;
			margin-top: -1.25em;
			margin-bottom: -1.25em;
			vertical-align: -0.132em;
		}
		.icon-size3 > .font-icon {
			font-size: 4.5em;
			margin-top: -1.75em;
			margin-bottom: -1.75em;
			vertical-align: -0.171em;
		}
		.icon-size4 > .font-icon {
			font-size: 7em;
			margin-top: -3em;
			margin-bottom: -3em;
			vertical-align: middle;
		}
		.icon-size5 > .font-icon {
			font-size: 10em;
			margin-top: -4.5em;
			margin-bottom: -4.5em;
			vertical-align: middle;
		}

	/* IE8 */
	[class^="icon-"].font-icon-empty:before,
	[class*=" icon-"].font-icon-empty:before {
		margin-right: -0.077em;
		margin-left: -0.077em;
	}

.left-icon {
	padding-left: 20px;
	position: relative;
	min-height: 16px;
	}
	.wrapped.left-icon {
		padding-left: 30px;
	}
	.boxed.left-icon {
		padding-left: 36px;
	}
.big-left-icon {
	padding-left: 38px;
	position: relative;
	min-height: 32px;
	}
	.wrapped.big-left-icon {
		padding-left: 48px;
	}
	.boxed.big-left-icon {
		padding-left: 54px;
	}
.huge-left-icon {
	padding-left: 68px;
	position: relative;
	min-height: 64px;
	}
	.wrapped.huge-left-icon {
		padding-left: 78px;
	}
	.boxed.huge-left-icon {
		padding-left: 84px;
	}

	.left-icon:before,
	.big-left-icon:before,
	.huge-left-icon:before {
		position: absolute;
		display: block;
		margin: 0;
		}
		.left-icon:before {
			top: 0;
			left: -1px;
			font-size: 30px;
			line-height: 18px;
			}
			.wrapped.left-icon:before {
				top: 10px;
				left: 9px;
			}
			.boxed.left-icon:before {
				top: 16px;
				left: 15px;
			}
		.big-left-icon:before {
			top: -1px;
			left: -2px;
			font-size: 60px;
			line-height: 36px;
			}
			.wrapped.big-left-icon:before {
				top: 9px;
				left: 8px;
			}
			.boxed.big-left-icon:before {
				top: 15px;
				left: 14px;
			}
		.huge-left-icon:before {
			top: -3px;
			left: -5px;
			font-size: 120px;
			line-height: 72px;
			}
			.wrapped.huge-left-icon:before {
				top: 7px;
				left: 5px;
			}
			.boxed.huge-left-icon:before {
				top: 13px;
				left: 11px;
			}

	.icon-phone:before				{ content: '!'; }
	.icon-mobile:before				{ content: '"'; }
	.icon-tag:before				{ content: '#'; }
	.icon-directions:before			{ content: '$'; }
	.icon-mail:before				{ content: '%'; }
	.icon-pencil:before				{ content: '&'; }
	.icon-paperclip:before			{ content: '\''; }
	.icon-reply:before				{ content: '('; }
	.icon-replay-all:before			{ content: ')'; }
	.icon-forward:before			{ content: '*'; }
	.icon-user:before				{ content: '+'; }
	.icon-users:before				{ content: ','; }
	.icon-add-user:before			{ content: '-'; }
	.icon-card:before				{ content: '.'; }
	.icon-extract:before			{ content: '/'; }
	.icon-marker:before				{ content: '0'; }
	.icon-map:before				{ content: '1'; }
	.icon-compass:before			{ content: '2'; }
	.icon-arrow:before				{ content: '3'; }
	.icon-target:before				{ content: '4'; }
	.icon-path:before				{ content: '5'; }
	.icon-heart:before				{ content: '6'; }
	.icon-star:before				{ content: '7'; }
	.icon-like:before				{ content: '8'; }
	.icon-chat:before				{ content: '9'; }
	.icon-speech:before				{ content: ':'; }
	.icon-quote:before				{ content: ';'; }
	.icon-printer:before			{ content: '<'; }
	.icon-bell:before				{ content: '='; }
	.icon-link:before				{ content: '>'; }
	.icon-flag:before				{ content: '?'; }
	.icon-gear:before				{ content: '@'; }
	.icon-flashlight:before			{ content: 'A'; }
	.icon-cup:before				{ content: 'B'; }
	.icon-price-tag:before			{ content: 'C'; }
	.icon-camera:before				{ content: 'D'; }
	.icon-moon:before				{ content: 'E'; }
	.icon-palette:before			{ content: 'F'; }
	.icon-leaf:before				{ content: 'G'; }
	.icon-music-note:before			{ content: 'H'; }
	.icon-bag:before				{ content: 'I'; }
	.icon-plane:before				{ content: 'J'; }
	.icon-buoy:before				{ content: 'K'; }
	.icon-rain:before				{ content: 'L'; }
	.icon-eye:before				{ content: 'M'; }
	.icon-clock:before				{ content: 'N'; }
	.icon-mic:before				{ content: 'O'; }
	.icon-calendar:before			{ content: 'P'; }
	.icon-lightning:before			{ content: 'Q'; }
	.icon-hourglass:before			{ content: 'R'; }
	.icon-rss:before				{ content: 'S'; }
	.icon-wifi:before				{ content: 'T'; }
	.icon-lock:before				{ content: 'U'; }
	.icon-unlock:before				{ content: 'V'; }
	.icon-tick:before				{ content: 'W'; }
	.icon-cross:before				{ content: 'X'; }
	.icon-minus-round:before		{ content: 'Y'; }
	.icon-plus-round:before			{ content: 'Z'; }
	.icon-cross-round:before		{ content: '['; }
	.icon-minus:before				{ content: '\\'; }
	.icon-plus:before				{ content: ']'; }
	.icon-forbidden:before			{ content: '^'; }
	.icon-info:before				{ content: '_'; }
	.icon-info-round:before			{ content: '`'; }
	.icon-question:before			{ content: 'a'; }
	.icon-question-round:before		{ content: 'b'; }
	.icon-warning:before			{ content: 'c'; }
	.icon-redo:before				{ content: 'd'; }
	.icon-undo:before				{ content: 'e'; }
	.icon-swap:before				{ content: 'f'; }
	.icon-revert:before				{ content: 'g'; }
	.icon-refresh:before			{ content: 'h'; }
	.icon-list:before				{ content: 'i'; }
	.icon-list-add:before			{ content: 'j'; }
	.icon-thumbs:before				{ content: 'k'; }
	.icon-page-list:before			{ content: 'l'; }
	.icon-page:before				{ content: 'm'; }
	.icon-pages:before				{ content: 'n'; }
	.icon-marker:before				{ content: '0'; }
	.icon-pictures:before			{ content: 'p'; }
	.icon-movie:before				{ content: 'q'; }
	.icon-music:before				{ content: 'r'; }
	.icon-folder:before				{ content: 's'; }
	.icon-drawer:before				{ content: 't'; }
	.icon-trash:before				{ content: 'u'; }
	.icon-outbox:before				{ content: 'v'; }
	.icon-inbox:before				{ content: 'w'; }
	.icon-download:before			{ content: 'x'; }
	.icon-cloud:before				{ content: 'y'; }
	.icon-cloud-upload:before		{ content: 'z'; }
	.icon-play:before				{ content: '{'; }
	.icon-pause:before				{ content: '|'; }
	.icon-record:before				{ content: '~'; }
	.icon-forward:before			{ content: 'Ä'; }
	.icon-backward:before			{ content: 'Å'; }
	.icon-previous:before			{ content: 'Ç'; }
	.icon-next:before				{ content: 'É'; }
	.icon-expand:before				{ content: 'Ñ'; }
	.icon-reduce:before				{ content: 'Ö'; }
	.icon-volume:before				{ content: 'Ü'; }
	.icon-loud:before				{ content: 'á'; }
	.icon-mute:before				{ content: 'à'; }
	.icon-left-fat:before			{ content: 'â'; }
	.icon-down-fat:before			{ content: 'ä'; }
	.icon-up-fat:before				{ content: 'ã'; }
	.icon-right-fat:before			{ content: 'å'; }
	.icon-left:before				{ content: 'ç'; }
	.icon-down:before				{ content: 'é'; }
	.icon-up:before					{ content: 'è'; }
	.icon-right:before				{ content: 'ê'; }
	.icon-left-round:before			{ content: 'ë'; }
	.icon-down-round:before			{ content: 'í'; }
	.icon-up-round:before			{ content: 'ì'; }
	.icon-right-round:before		{ content: 'î'; }
	.icon-home:before				{ content: 'ï'; }
	.icon-ribbon:before				{ content: 'ñ'; }
	.icon-read:before				{ content: 'ó'; }
	.icon-new-tab:before			{ content: 'ò'; }
	.icon-search:before				{ content: 'ô'; }
	.icon-ellipsis:before			{ content: 'ö'; }
	.icon-bullet-list:before		{ content: '®'; }
	.icon-creative-commons:before	{ content: '©'; }	
	
