/* --------------------------------------------------------------------------------------------------------------
ContainerModal
-------------------------------------------------------------------------------------------------------------- */
.SUIContainerModal
{
	position: 					relative;

	margin: 					1px;	
	padding:					3px;

	display: 					inline-block;	
	outline:					none;
}

.SUIContainerModal .Title
{
	float:						left;

	margin-top:					20px;		
}

.SUIContainerModal .TitleBar
{
	float:						right;
	
	margin-top:					20px;
}

.SUIContainerModal .Icon
{
	float:						left;
		
	margin-top:					5px;
	margin-left:				10px;
	margin-right:				10px;
}

.SUIContainerModal .TopLeft
{
	float: 						left;
		
	width: 						14px;
	height: 					71px;
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		0px 0px;
}

.SUIContainerModal .TopCenter
{
	float: 						left;
		
	height:						71px;
	
	background: 				transparent url('images/containermodal/background1.png') repeat-x;	
	background-position:		0px -71px;			
}

.SUIContainerModal .TopRight
{
	float: 						left;
			
	width: 						14px;
	height: 					71px;
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		-14px 0px;
}

.SUIContainerModal .ContentLeft
{
	float: 						left;
	
	width: 						14px;

	background: 				transparent url('images/containermodal/background2.png') repeat-y;	
	background-position:		0px 0px;
}

.SUIContainerModal .ContentCenter
{
	float: 						left;
	
	background-color: 			#ffffff;
	
	outline: 					none;
}

.SUIContainerModal .ContentRight
{
	float: 						left;
	
	width: 						14px;
	
	background: 				transparent url('images/containermodal/background2.png') repeat-y;	
	background-position:		-14px 0px;
}

.SUIContainerModal .BottomLeft
{
	float: 						left;
	
	width: 						14px;
	height:						14px;	
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		0px -142px;
}

.SUIContainerModal .BottomCenter
{
	float: 						left;
	
	height:						14px;

	background: 				transparent url('images/containermodal/background1.png') repeat-x;	
	background-position:		0px -156px;
}

.SUIContainerModal .BottomRight
{
	float: 						left;
	
	height: 					14px;		
	width: 						14px;	
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		-14px -142px;
}