

/* --------------------------------------------------------------------------------------------------------------
Upload
-------------------------------------------------------------------------------------------------------------- */
.SUIUpload
{
	margin: 				1px;	
	padding:				3px;

	display: 				inline-block;
	
	outline:				none;
}

.SUIUploadFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIUploadDisabled
{}

.SUIUploadLeftClicked
{}

.SUIUpload .ButtonLeft
{
	float: 					left;
	
	width: 					6px;
	height: 				32px;
	
	background: 				transparent url('images/upload/background.png') no-repeat;	
	background-position:			0px -64px;
}

.SUIUploadFocus .ButtonLeft
{}

.SUIUploadLeftClicked .ButtonLeft
{
	background-position:			0px -256px;
}

.SUIUploadDisabled .ButtonLeft
{
	background-position:			0px -192px;
}


.SUIUpload .ButtonCenter
{
	float: 					left;
	
	padding-top:				7px;
	
	width: 					90px;
	height: 				25px;
	
	background: 				transparent url('images/upload/background.png') repeat-x;	
	background-position:			0px -96px;
	
	font-family:				arial;		
	font-size:				13px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 0px #444444;		
	text-align:				center;
	
	color:					#fff;
}

.SUIUploadFocus .ButtonCenter
{}

.SUIUploadLeftClicked .ButtonCenter
{
	padding-top:				8px;
	
	height:					24px;

	background-position:			0px -288px;
}

.SUIUploadDisabled .ButtonCenter
{
	background-position:			0px -224px;
	
	text-shadow: 				1px 1px 0px #fff;	
	color:					#777;
	
	cursor:					default;
}

.SUIUpload .ButtonRight
{
	float: 					left;
	
	width: 					6px;
	height: 				32px;
	
	background: 				transparent url('images/upload/background.png') no-repeat;	
	background-position:			-6px -64px;
}

.SUIUploadFocus .ButtonRight
{}

.SUIUploadLeftClicked .ButtonRight
{
	background-position:			-6px -256px;
}

.SUIUploadDisabled .ButtonRight
{
	background-position:			-6px -192px;
}

.SUIUpload .TextLeft
{
	float: 					left;
	
	width: 					4px;
	height: 				32px;
	
	background: 				transparent url('images/upload/background.png') no-repeat;	
	background-position:			0px 0px;
}

.SUIUploadFocus .TextLeft
{}

.SUIUploadDisabled .TextLeft
{
	background: 				transparent url('images/upload/background.png') no-repeat;
	background-position:			0px -128px;
}

.SUIUpload .TextCenter
{
	float: 					left;

	padding-top:				8px;	

	
	height:					24px;

	background: 				transparent url('images/upload/background.png') repeat-x;	
	background-position:			0px -32px;
	
	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;	
	color:					#444;
		
	white-space:				nowrap;
	overflow:				hidden;
	cursor:					default;
}

.SUIUploadFocus .TextCenter
{}

.SUIUploadDisabled .TextCenter
{
	background: 				transparent url('images/upload/background.png') repeat-x;
	background-position:			0px -160px;

	color:					#aaaaaa;
}

.SUIUpload .TextRight
{
	float: 					left;
	
	width: 					4px;
	height: 				32px;
	
	background: 				transparent url('images/upload/background.png') no-repeat;	
	background-position:			-4px 0px;
}

.SUIUploadFocus .TextRight
{}

.SUIUploadDisabled .TextRight
{
	background: 				transparent url('images/upload/background.png') no-repeat;
	background-position:			-4px -128px;
}


