
/* --------------------------------------------------------------------------------------------------------------
Layoutbox
-------------------------------------------------------------------------------------------------------------- */
.SUILayoutbox
{
	position: 				relative;

	display: 				inline-block;	
	outline:				none;
}

.SUILayoutbox .Panel
{
	margin:					0px;
	padding: 				5px;
	
}

