
/* --------------------------------------------------------------------------------------------------------------
Layoutbox

change panel padding from 5 to 0 px
-------------------------------------------------------------------------------------------------------------- */
.SUILayoutbox
{
	position: 				relative;

	display: 				inline-block;	
	outline:				none;
}

.SUILayoutbox .Panel
{
	margin:					0px;
	padding: 				0px;
	
}

