/* --------------------------------------------------------------------------------------------------------------
Layoutbox
-------------------------------------------------------------------------------------------------------------- */
.SUILayoutboxNoBorder
{
	position: 				relative;

	display: 				inline-block;	
	outline:				none;
}

.SUILayoutboxNoBorder .Panel
{
	margin:					0px;
	padding: 				0px;

}


