
/* Standard text input */
.input, .inputs {
	display: inline-block;
	text-align: left;
	padding: 0 9px;
	line-height: 30px;
	border: 0;
	vertical-align: baseline;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: -webkit-box-shadow 400ms;
	-moz-transition: -moz-box-shadow 400ms;
	-ms-transition: box-shadow 400ms;
	-o-transition: box-shadow 400ms;
	transition: box-shadow 400ms;
	-webkit-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
	-moz-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
	box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
	}
	.ie7 .input {
		display: inline;
		zoom: 1;
		vertical-align: middle;
	}
	.no-boxshadow .input {
		line-height: 28px;
		min-height: 28px;
		border-width: 1px;
		border-style: solid;
	}
	.no-boxshadow .inputs {
		border-width: 1px;
		border-style: solid;
	}
	input.input,
	textarea.input {
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 16px;
		}
		.no-boxshadow input.input,
		.no-boxshadow textarea.input {
			padding-top: 6px;
			padding-bottom: 6px;
			line-height: 16px;
			min-height: 16px;
		}
	.inputs {
		display: block;
		padding: 0;
		height: auto;
		list-style-type: none;
		margin-left: 0;
		}
		.inputs > li {
			padding: 0 9px;
			line-height: 30px;
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
			-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
			}
			.no-boxshadow .inputs > li {
				border-bottom: 1px solid #cccccc;
			}
			.black-inputs .inputs > li,
			.inputs.black-input > li {
				-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.85);
				-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.875);
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.85);
				}
				.no-boxshadow .black-inputs .inputs > li,
				.no-boxshadow .inputs.black-input > li {
					border-bottom: 1px solid #555555;
				}
			.inputs > li:first-child {
				-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
				-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
				box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
				}
				.black-inputs .inputs > li:first-child,
				.inputs.black-input > li:first-child {
					-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.85);
					-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.85);
					box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.85);
				}
			.inputs > li:last-child {
				-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
				-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
				}
				.no-boxshadow .inputs > li.last-child {
					border-bottom: 0;
				}
				.black-inputs .inputs > li:last-child,
				.inputs.black-input > li:last-child {
					-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
					-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
					box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
				}
				/* IE7 */
				.no-boxshadow .black-inputs .inputs > li.last-child,
				.no-boxshadow .inputs.black-input > li.last-child {
					border-bottom: 0;
				}
			.inputs > li:only-child,
			.black-inputs .inputs > li:only-child,
			.inputs.black-input > li:only-child {
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}
	p > .button,
	p > .input {
		margin-top: -7px;
		margin-bottom: -7px;
	}
	.button-height .button,
	.button-height .input {
		margin-top: 0;
		margin-bottom: 0;
	}
	.black-inputs .input,
	.input.black-input,
	.black-inputs .inputs,
	.inputs.black-input {
		-webkit-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
		-moz-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
		box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
	}
	.input-unstyled {
		padding: 0 6px;
		vertical-align: baseline;
		*vertical-align: middle;
		height: 16px;
		line-height: 16px;
		border-width: 0;
		color: inherit;
		//color:expression(this.parentNode.currentStyle['color']);
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background: none;
		}
		.input-unstyled.full-width {
			padding: 0;
			width: 100%;
		}
		.input > .input-unstyled,
		.inputs > li > .input-unstyled {
			padding-top: 7px;
			padding-bottom: 7px;
			}
			.ie7 .input > .input-unstyled,
			.ie7 .inputs > li > .input-unstyled {
				margin-top: -7px;
				margin-bottom: -7px;
			}
		.input > .input-unstyled:first-child,
		.inputs > li > .input-unstyled:first-child {
			margin-left: -9px;
			padding-left: 9px !important;
		}
		.input > .input-unstyled:last-child,
		.inputs > li > .input-unstyled:last-child {
			margin-right: -9px;
			padding-right: 9px !important;
			}
			/* IE7 */
			.input > .input-unstyled.last-child,
			.inputs > li > .input-unstyled.last-child {
				margin-right: -9px;
				padding-right: 9px !important;
			}
		.input-sep {
			padding-right: 6px;
			border-right: 1px solid #cccccc;
			margin-right: 6px;
			}
			.black-inputs .input-sep,
			.black-input .input-sep {
				border-right-color: #616161;
			}
			.input-sep + .input-unstyled {
				margin-left: -6px;
				padding-left: 6px;
			}

	.input.focus, .inputs.focus {
		-webkit-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 1), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 5px rgba(51, 153, 255, 0.75);
		-moz-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 1), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 5px rgba(51, 153, 255, 0.75);
		box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 1), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 5px rgba(51, 153, 255, 0.75);
	}

	.input.full-width {
		display: block;
		width: 100%;
		margin: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}
		.no-boxsizing .input.full-width {
			width: 94%;
		}
	.input.disabled, .input:disabled, .disabled .input {
		padding: 0 8px;
		line-height: 28px;
		border-width: 1px;
		border-style: solid;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		color: #999999;
		}
		input.input.disabled, input.input:disabled, .disabled input.input {
			padding-top: 6px;
			padding-bottom: 6px;
			line-height: 16px;
		}
		.input.disabled > .input-unstyled, .inputs.disabled > li > .input-unstyled,
		.disabled .input > .input-unstyled, .disabled .inputs > li > .input-unstyled {
			padding-top: 6px;
			padding-bottom: 6px;
		}

	.input > .float-left,
	.input > .float-right {
		height: inherit;
		//height:expression(this.parentNode.currentStyle['height']);
		line-height: inherit;
		//line-height:expression(this.parentNode.currentStyle['line-height']);
		}

	.input.large {
		padding: 0 19px;
		line-height: 50px;
		}
		input.input.large {
			padding-top: 17px;
			padding-bottom: 17px;
			line-height: 16px;
		}
		.inputs.large > li {
			line-height: 50px;
			padding: 0 19px;
		}
		.large > .input-unstyled, .large > li > .input-unstyled {
			padding-top: 17px;
			padding-bottom: 17px;
		}
		.large > .input-unstyled:first-child,
		.large > li > .input-unstyled:first-child {
			margin-left: -19px;
			padding-left: 19px !important;
		}
		.large > .input-unstyled:last-child,
		.large > li > .input-unstyled:last-child {
			margin-right: -19px;
			padding-right: 19px !important;
			}
			/* IE7 */
			.large > .input-unstyled.last-child,
			.large > li > .input-unstyled.last-child {
				margin-right: -19px;
				padding-right: 19px !important;
			}
		.input.large.disabled, .input.large:disabled, .disabled .input.large {
			padding: 0 18px;
			line-height: 48px;
			}
			input.input.large.disabled, input.input.large:disabled, .disabled input.input.large {
				padding-top: 16px;
				padding-bottom: 16px;
				line-height: 16px;
			}
			.input.large.disabled > .input-unstyled, .inputs.large.disabled > li > .input-unstyled,
			.disabled .input.large > .input-unstyled, .disabled .inputs.large > li > .input-unstyled {
				padding-top: 16px;
				padding-bottom: 16px;
			}

input[type=radio],
input[type=checkbox] {
	vertical-align: -2px;
}

::-webkit-input-placeholder {
	color: #808080;
}
input:-moz-placeholder {
	color: #808080;
}
/* For older browsers */
.placeholder {
	color: #808080 !important;
}

.input-wrapper {
	padding: 10px;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
	.input-wrapper > .inputs + .inputs {
		margin-top: -6px;
	}

/* Value field */
.no-touch .number.input {
	position: relative;
	padding: 0 0 0 3px;
	}
	.number-up,
	.number-down {
		overflow: hidden;
		text-indent: -5000px;
		width: 6px;
	}
	.no-touch .number-up,
	.no-touch .number-down {
		position: absolute;
		right: 0;
		padding: 0;
		margin: 0;
		padding: 0;
		width: 17px;
		-webkit-background-clip: padding-box;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), -1px 0 0 rgba(0, 0, 0, 0.1);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), -1px 0 0 rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75), -1px 0 0 rgba(0, 0, 0, 0.1);
		}
		.no-touch .black-inputs .number-up,
		.no-touch .black-inputs .number-down {
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), -1px 0 0 rgba(0, 0, 0, 0.25);
			-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), -1px 0 0 rgba(0, 0, 0, 0.25);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), -1px 0 0 rgba(0, 0, 0, 0.25);
		}
		.number-up:after,
		.number-down:after {
			display: block;
			position: absolute;
			content: ' ';
			width: 5px;
			height: 5px;
			left: 50%;
			top: 50%;
			margin: -2px 0 0 -2px;
			background-image: url(../../img/standard/sprites.png);
			}
			/* IE7 */
			.number-after {
				display: block;
				position: absolute;
				width: 5px;
				height: 5px;
				left: 50%;
				top: 50%;
				margin: -2px 0 0 -3px;
				background-image: url(../../img/standard/sprites.png);
			}
			.number-up:after {
				background-position: -125px -8px;
				}
				/* IE7 */
				.number-up > .number-after {
					background-position: -125px -8px;
				}
			.number-down:after {
				margin-top: -1px;
				background-position: -125px -13px;
				}
				/* IE7 */
				.number-down > .number-after {
					margin-top: -1px;
					background-position: -125px -13px;
				}
			.black-inputs .number-up:after {
				background-position: -120px -8px;
				}
				/* IE7 */
				.black-inputs .number-up > .number-after {
					background-position: -120px -8px;
				}
			.black-inputs .number-down:after {
				margin-top: -1px;
				background-position: -120px -13px;
				}
				/* IE7 */
				.black-inputs .number-down > .number-after {
					margin-top: -1px;
					background-position: -120px -13px;
				}
		.no-touch .number-up:active,
		.no-touch .number-up.active,
		.no-touch .number-down:active,
		.no-touch .number-down.active {
			padding: 1px !important;
			-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.75) !important;
			-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.75) !important;
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.75) !important;
		}
		.no-touch .number-up.disabled, .number-up:disabled, .disabled .number-up,
		.no-touch .number-down.disabled, .number-down:disabled, .disabled .number-down {
			padding: 0 !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
		}
		.no-touch .number-up {
			top: 0;
			margin: 0 !important;
			height: 14px;
			-webkit-border-radius: 0 !important;
			-webkit-border-top-right-radius: 3px !important;
			-moz-border-radius: 0 3px 0 0 !important;
			border-radius: 0 3px 0 0 !important;
			}
			.ie7.no-touch .number-up {
				height: 16px !important;
			}
			.no-touch .disabled .number-up {
				top: -1px;
				right: -1px;
			}
		.no-touch .number-down {
			bottom: 0;
			margin: 0 !important;
			height: 13px;
			-webkit-border-radius: 0 !important;
			-webkit-border-bottom-right-radius: 3px !important;
			-moz-border-radius: 0 0 3px 0 !important;
			border-radius: 0 0 3px 0 !important;
			}
			.ie7.no-touch .number-down {
				height: 16px !important;
			}
			.no-touch .disabled > .number-down {
				bottom: -1px;
				right: -1px;
			}