/* Information spot */
.info-spot {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
	vertical-align: middle;
	*vertical-align: baseline;
	position: relative;
	margin: -1px 0 1px;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	cursor: help;
	}
	.info-spot > [class^="icon-"],
	.info-spot > [class*=" icon-"] {
		position: absolute;
		font-size: 17px;
		top: 0;
		left: 0;
		}
		.info-spot:hover > [class^="icon-"],
		.info-spot:hover > [class*=" icon-"] {
			color: white;
			z-index: 99;
		}
	.info-bubble {
		display: none;
		position: absolute;
		z-index: 98;
		top: -5px;
		left: 15px;
		min-width: 100px;
		padding: 8px 11px;
		background: #4c4c4c;
		color: white;
		text-align: left;
		-webkit-border-radius: 5px;
		-webkit-border-top-left-radius: 0;
		-moz-border-radius: 0 5px 5px 5px;
		border-radius: 0 5px 5px 5px;
		}
		.info-spot:hover > .info-bubble {
			display: block;
		}
		.info-bubble:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 100%;
			height: 26px;
			width: 21px;
			background-color: inherit;
			-webkit-border-top-left-radius: 13px;
			-webkit-border-bottom-left-radius: 13px;
			-moz-border-radius: 13px 0 0 13px;
			border-radius: 13px 0 0 13px;
		}
		/* IE7 */
		.info-bubble-before {
			display: block;
			position: absolute;
			top: 0;
			right: 100%;
			height: 26px;
			width: 21px;
			//background-color:expression(this.parentNode.currentStyle['background-color']);
		}

		/* Flipped */
		.on-top > .info-bubble {
			top: auto;
			bottom: -5px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-bottom-left-radius: 0;
			-moz-border-radius: 5px 5px 5px 0;
			border-radius: 5px 5px 5px 0;
			}
			.on-top > .info-bubble:before {
				top: auto;
				bottom: 0;
			}
			/* IE7 */
			.on-top > .info-bubble > .info-bubble-before {
				top: auto;
				bottom: 0;
			}
		.on-left > .info-bubble {
			left: auto;
			right: 15px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 0;
			-moz-border-radius: 5px 0 5px 5px;
			border-radius: 5px 0 5px 5px;
			}
			.on-left > .info-bubble:before {
				right: auto;
				left: 100%;
				-webkit-border-radius: 0;
				-webkit-border-top-right-radius: 13px;
				-webkit-border-bottom-right-radius: 13px;
				-moz-border-radius: 0 13px 13px 0;
				border-radius: 0 13px 13px 0;
			}
			/* IE7 */
			.on-left > .info-bubble > .info-bubble-before {
				right: auto;
				left: 100%;
			}
		.on-top.on-left > .info-bubble {
			left: auto;
			right: 15px;
			-webkit-border-top-right-radius: 5px;
			-webkit-border-bottom-right-radius: 0;
			-moz-border-radius: 5px 5px 0 5px;
			border-radius: 5px 5px 0 5px;
			}
			/* IE7 */
			.on-top.on-left > .info-bubble > .info-bubble-before {
				left: auto;
				right: 15px;
			}

		/* Touch screen do not handle hover correctly, the text is shown on an modal */
		.js.touch .info-spot:hover > [class^="icon-"],
		.js.touch .info-spot:hover > [class*=" icon-"] {
			color: inherit;
		}
		.js.touch .info-spot:hover > .info-bubble {
			display: none;
		}
