
/* --------------------------------------------------------------------------------------------------------------
ListviewNoborder
-------------------------------------------------------------------------------------------------------------- */
.SUIListviewNoborder
{
	margin: 				1px;		
	
	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;		

	display: 				inline-block;	
	outline:				none;
}

.SUIListviewNoborderFocus
{
}

.SUIListviewNoborderDisabled
{}

.SUIListviewNoborder .TopLeft
{
	float: 					left;
	
	width: 					5px;
	height: 				34px;
	
	background: 				none;	
}

SUIListviewNoborderFocus .TopLeft
{}

.SUIListviewNoborderDisabled .TopLeft
{
	background: 				none;
}

.SUIListviewNoborder .TopCenter
{	
	float: 					left;
	
	height:					33px;

	background:				transparent url('images/listviewnoborder/top_center.png') repeat-x;
}

.SUIListviewNoborderFocus. TopCenter
{}

.SUIListviewNoborderDisabled .TopCenter
{
	background: 				none;
	
	color:					#aaaaaa;
}

.SUIListviewNoborder .TopRight
{
	float: 					left;
	
	width: 					5px;
	height: 				34px;	
	
	background: 				none;
	
}

.SUIListviewNoborderFocus .TopRight
{}

.SUIListviewNoborderDisabled .TopRight
{
	background: 				none;
}

.SUIListviewNoborder .ContentLeft
{
	float: 					left;
	
	width: 					5px;
	
	background: 				none;
}

.SUIListviewNoborderFocus .ContentLeft
{}

.SUIListviewNoborderDisabled  .ContentLeft
{
	background: 				none;
}

.SUIListviewNoborder .ContentCenter
{
	float: 					left;	
	
	outline: 				none;
	
	background: 				none;
}

.SUIListviewNoborderFocus .ContentCenter
{}

.SUIListviewNoborderDisabled .ContentCenter
{
	background: 				none;
}

.SUIListviewNoborder .ContentRight
{
	float: 					left;
	
	width: 					5px;
	
	background: 				none;	
}

.SUIListviewNoborderFocus .ContentRight
{}

.SUIListviewNoborderDisabled .ContentRight
{
	background: 				none;
}

.SUIListviewNoborder .BottomLeft
{
	float: 					left;
	
	width: 					5px;
	height:					4px;	
	
	background: 				none;	
}

.SUIListviewNoborderFocus .BottomLeft
{}

.SUIListviewNoborderDisabled .BottomLeft
{
	background: 				none;
}

.SUIListviewNoborder .BottomCenter
{
	float: 					left;
	
	height:					4px;
	
	background: 				none;	
}

.SUIListviewNoborderFocus .BottomCenter
{}

.SUIListviewNoborderDisabled .BottomCenter
{
	background: 				none;
}

.SUIListviewNoborder .BottomRight
{
	float: 					left;
		
	height: 				4px;		
	width: 					5px;	
	
	background: 				none;	
}

.SUIListviewNoborderFocus .BottomRight
{}

.SUIListviewNoborderDisabled .BottomRight
{
	background: 				none;
}

.SUIListviewNoborder .Header
{
	float:					left;
	
	padding-top:				8px;
	padding-left:				10px;	
	
	height: 25px;
		
	background: 				transparent url('images/listviewnoborder/header.png') no-repeat;	
	background-position:			right bottom;	
	
	text-decoration: 			none;		
	color:					#222222;
}

.SUIListviewNoborderDisabled .Header
{
	background: 				transparent url('images/listviewnoborder/header_disabled.png') no-repeat;	
	background-position:			right center;	

	color:					#aaaaaa;
}

.SUIListviewNoborder .ItemRow
{	
	cursor:					default;	
}

.SUIListviewNoborder .ItemRowSelected
{
	background:				#eeeeee;	
}

.SUIListviewNoborderFocus .ItemRow
{}

.SUIListviewNoborderDisabled .ItemRow
{	
}

.SUIListviewNoborderFocus .ItemRowSelected
{	
	background-color:			#54bbf8;
}

.SUIListviewNoborderDisabled .ItemRow
{
	cursor:					default;
}

.SUIListviewNoborderDisabled .ItemRowSelected
{
	background-color:			#dddddd;
	cursor:					default;
}

.SUIListviewNoborder .ItemColumn
{
	float:					left;
	
	padding-top:				12px;
	padding-left:				10px;	

	height: 30px;
	
	background: 				transparent url('images/listviewnoborder/header.png') repeat-y;
	background-position:			right center;	
	
	font-size:				13px;
	text-decoration: 			none;	
	color:					#444;	
}

.SUIListviewNoborder .ItemRowSelected .ItemColumn
{
	color:					#000;
}

.SUIListviewNoborderDisabled .ItemColumn
{
	color: 					#aaaaaa;
}



