
/* --------------------------------------------------------------------------------------------------------------
Textarea
-------------------------------------------------------------------------------------------------------------- */
.SUITextarea
{
	margin: 				1px;	
	
	padding: 				3px;
	
	display: 				inline-block;
	outline:				none;
	cursor:					default;			
}

.SUITextareaFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUITextareaDisabled
{}

.SUITextarea .TopLeft
{
	float:					left;

	width:					4px;
	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') no-repeat;	
	background-position:			0px 0px;
}

.SUITextarea .TopCenter
{
	float:					left;
	
	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') repeat-x;		
	background-position:			0px -4px;
}

.SUITextarea .TopRight
{
	float:					left;

	width:					4px;
	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') no-repeat;	
	background-position:			-4px 0px;
}

.SUITextarea .CenterLeft
{
	float:					left;

	width:					4px;
	
	background: 				transparent url('images/textarea/background2.png') repeat-y;
	background-position:			0px 0px;
}

.SUITextarea .CenterCenter
{
	float:					left;

	background: 				transparent url('images/textarea/background3.png') repeat-x;	
}

.SUITextarea .CenterRight
{
	float:					left;

	width:					4px;
	
	background: 				transparent url('images/textarea/background2.png') repeat-y;
	background-position:			-4px 0px;
}

.SUITextarea .BottomLeft
{
	float:					left;

	width:					4px;
	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') no-repeat;		
	background-position:			0px -8px;
}

.SUITextarea .BottomCenter
{
	float:					left;

	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') repeat-x;		
	background-position:			0px -12px;
}

.SUITextarea .BottomRight
{
	float:					left;

	width:					4px;
	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') no-repeat;		
	background-position:			-4px -8px;
}

.SUITextarea .Provider
{	
	margin:					0px;
	padding:				0px;
	
	width: 					0px;
	height:					0px;
	
	background-color:			transparent;
	
	border: 				none;	
	
	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;	
	color:					#444444;
}


