/* --------------------------------------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------------------------------------- */
.SUIContainer
{
	position: 				relative;

	margin: 				1px;	
	padding:				3px;

	display: 				inline-block;	
	outline:				none;
}

.SUIContainer .Title
{
	float:					left;

	margin-top:				15px;
		
	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;
}

.SUIContainer .Icon
{
	float:					left;
	
	margin-top:				5px;
	margin-left:				10px;
	margin-right:				10px;
}

.SUIContainer .TopLeft
{
	float: 					left;
		
	width: 					5px;
	height: 				48px;
	
	background: 				transparent url('images/container/background1.png') no-repeat;	
	background-position:			0px 0px;
}

.SUIContainer .TopCenter
{
	float: 					left;
		
	height:					48px;
	
	background: 				transparent url('images/container/background1.png') repeat-x;	
	background-position:			0px -48px;			
}

.SUIContainer .TopRight
{
	float: 					left;
			
	width: 					5px;
	height: 				48px;
	
	background: 				transparent url('images/container/background1.png') no-repeat;	
	background-position:			-5px 0px;
}

.SUIContainer .ContentLeft
{
	float: 					left;
	
	width: 					5px;

	background: 				transparent url('images/container/background2.png') repeat-y;	
	background-position:			0px 0px;
}

.SUIContainer .ContentCenter
{
	float: 					left;
	
	background-color: 			#ffffff;
	
	outline: 				none;
}

.SUIContainer .ContentRight
{
	float: 					left;
	
	width: 					5px;
	
	background: 				transparent url('images/container/background2.png') repeat-y;	
	background-position:			-5px 0px;
}

.SUIContainer .BottomLeft
{
	float: 					left;
	
	width: 					5px;
	height:					5px;	
	
	background: 				transparent url('images/container/background1.png') no-repeat;	
	background-position:			0px -96px;
}

.SUIContainer .BottomCenter
{
	float: 					left;
	
	height:					5px;

	background: 				transparent url('images/container/background1.png') repeat-x;	
	background-position:			0px -101px;
}

.SUIContainer .BottomRight
{
	float: 					left;
	
	height: 				5px;		
	width: 					5px;	
	
	background: 				transparent url('images/container/background1.png') no-repeat;	
	background-position:			-5px -96px;
}

/* --------------------------------------------------------------------------------------------------------------
ContainerModal
-------------------------------------------------------------------------------------------------------------- */
.SUIContainerModal
{
	position: 					relative;

	margin: 					1px;	
	padding:					3px;

	display: 					inline-block;	
	outline:					none;
}

.SUIContainerModal .Title
{
	float:						left;

	margin-top:					20px;		
}

.SUIContainerModal .Icon
{
	float:						left;
		
	margin-top:					5px;
	margin-left:				10px;
	margin-right:				10px;
}

.SUIContainerModal .TopLeft
{
	float: 						left;
		
	width: 						14px;
	height: 					51px;
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		0px 0px;
}

.SUIContainerModal .TopCenter
{
	float: 						left;
		
	height:						51px;
	
	background: 				transparent url('images/containermodal/background1.png') repeat-x;	
	background-position:		0px -51px;			
}

.SUIContainerModal .TopRight
{
	float: 						left;
			
	width: 						14px;
	height: 					51px;
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		-14px 0px;
}

.SUIContainerModal .ContentLeft
{
	float: 						left;
	
	width: 						14px;

	background: 				transparent url('images/containermodal/background2.png') repeat-y;	
	background-position:		0px 0px;
}

.SUIContainerModal .ContentCenter
{
	float: 						left;
	
	background-color: 			#ffffff;
	
	outline: 					none;
}

.SUIContainerModal .ContentRight
{
	float: 						left;
	
	width: 						14px;
	
	background: 				transparent url('images/containermodal/background2.png') repeat-y;	
	background-position:		-14px 0px;
}

.SUIContainerModal .BottomLeft
{
	float: 						left;
	
	width: 						14px;
	height:						14px;	
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		0px -102px;
}

.SUIContainerModal .BottomCenter
{
	float: 						left;
	
	height:						14px;

	background: 				transparent url('images/containermodal/background1.png') repeat-x;	
	background-position:		0px -116px;
}

.SUIContainerModal .BottomRight
{
	float: 						left;
	
	height: 					14px;		
	width: 						14px;	
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		-14px -102px;
}/* --------------------------------------------------------------------------------------------------------------
ContainerNoBorder
-------------------------------------------------------------------------------------------------------------- */
.SUIContainerNoBorder
{
	position: 					relative;

	margin: 					0px;	
	padding:					0px;

	display: 					inline-block;	
	outline:					none;
}

.SUIContainerNoBorder .Title
{
	float:						left;

	margin-top:					15px;
		
	font-family:				arial;		
	font-size:					15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;
}

.SUIContainerNoBorder .Icon
{
	float:						left;
	
	margin-top:					5px;
	margin-left:				10px;
	margin-right:				10px;
}

.SUIContainerNoBorder .TopLeft
{
	float: 						left;
		
	width:	 					5px;
	height: 					48px;
	
	background: 				transparent url('images/containernoborder/background1.png') no-repeat;	
	background-position:		0px 0px;
}

.SUIContainerNoBorder .TopCenter
{
	float: 						left;
		
	height:						48px;
	
	background: 				transparent url('images/containernoborder/background1.png') repeat-x;	
	background-position:		0px -48px;			
}

.SUIContainerNoBorder .TopRight
{
	float: 						left;
			
	width: 						5px;
	height: 					48px;
	
	background: 				transparent url('images/containernoborder/background1.png') no-repeat;	
	background-position:		-5px 0px;
}

.SUIContainerNoBorder .ContentLeft
{
	float: 						left;
	
	width: 						5px;

}

.SUIContainerNoBorder .ContentCenter
{
	float: 						left;
	
	background-color: 			transparent;
	
	outline: 					none;
}

.SUIContainerNoBorder .ContentRight
{
	float: 						left;
	
	width: 						5px;
	
}

.SUIContainerNoBorder .BottomLeft
{
	float: 						left;
	
	width: 						5px;
	height:						5px;		
}

.SUIContainerNoBorder .BottomCenter
{
	float: 						left;
	
	height:						5px;
}

.SUIContainerNoBorder .BottomRight
{
	float: 						left;
	
	height: 					5px;		
	width: 						5px;		
}

/* --------------------------------------------------------------------------------------------------------------
ContainerModal
-------------------------------------------------------------------------------------------------------------- */
.SUIContainerModal
{
	position: 					relative;

	margin: 					1px;	
	padding:					3px;

	display: 					inline-block;	
	outline:					none;
}

.SUIContainerModal .Title
{
	float:						left;

	margin-top:					20px;		
}

.SUIContainerModal .Icon
{
	float:						left;
		
	margin-top:					5px;
	margin-left:				10px;
	margin-right:				10px;
}

.SUIContainerModal .TopLeft
{
	float: 						left;
		
	width: 						14px;
	height: 					71px;
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		0px 0px;
}

.SUIContainerModal .TopCenter
{
	float: 						left;
		
	height:						71px;
	
	background: 				transparent url('images/containermodal/background1.png') repeat-x;	
	background-position:		0px -71px;			
}

.SUIContainerModal .TopRight
{
	float: 						left;
			
	width: 						14px;
	height: 					71px;
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		-14px 0px;
}

.SUIContainerModal .ContentLeft
{
	float: 						left;
	
	width: 						14px;

	background: 				transparent url('images/containermodal/background2.png') repeat-y;	
	background-position:		0px 0px;
}

.SUIContainerModal .ContentCenter
{
	float: 						left;
	
	background-color: 			#ffffff;
	
	outline: 					none;
}

.SUIContainerModal .ContentRight
{
	float: 						left;
	
	width: 						14px;
	
	background: 				transparent url('images/containermodal/background2.png') repeat-y;	
	background-position:		-14px 0px;
}

.SUIContainerModal .BottomLeft
{
	float: 						left;
	
	width: 						14px;
	height:						14px;	
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		0px -142px;
}

.SUIContainerModal .BottomCenter
{
	float: 						left;
	
	height:						14px;

	background: 				transparent url('images/containermodal/background1.png') repeat-x;	
	background-position:		0px -156px;
}

.SUIContainerModal .BottomRight
{
	float: 						left;
	
	height: 					14px;		
	width: 						14px;	
	
	background: 				transparent url('images/containermodal/background1.png') no-repeat;	
	background-position:		-14px -142px;
}

/* --------------------------------------------------------------------------------------------------------------
Upload
-------------------------------------------------------------------------------------------------------------- */
.SUIUpload
{
	margin: 				1px;	
	padding:				3px;

	display: 				inline-block;
	
	outline:				none;
}

.SUIUploadFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIUploadDisabled
{}

.SUIUploadLeftClicked
{}

.SUIUpload .ButtonLeft
{
	float: 					left;
	
	width: 					6px;
	height: 				32px;
	
	background: 				transparent url('images/upload/background.png') no-repeat;	
	background-position:			0px -64px;
}

.SUIUploadFocus .ButtonLeft
{}

.SUIUploadLeftClicked .ButtonLeft
{
	background-position:			0px -256px;
}

.SUIUploadDisabled .ButtonLeft
{
	background-position:			0px -192px;
}


.SUIUpload .ButtonCenter
{
	float: 					left;
	
	padding-top:				7px;
	
	width: 					90px;
	height: 				25px;
	
	background: 				transparent url('images/upload/background.png') repeat-x;	
	background-position:			0px -96px;
	
	font-family:				arial;		
	font-size:				13px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 0px #444444;		
	text-align:				center;
	
	color:					#fff;
}

.SUIUploadFocus .ButtonCenter
{}

.SUIUploadLeftClicked .ButtonCenter
{
	padding-top:				8px;
	
	height:					24px;

	background-position:			0px -288px;
}

.SUIUploadDisabled .ButtonCenter
{
	background-position:			0px -224px;
	
	text-shadow: 				1px 1px 0px #fff;	
	color:					#777;
	
	cursor:					default;
}

.SUIUpload .ButtonRight
{
	float: 					left;
	
	width: 					6px;
	height: 				32px;
	
	background: 				transparent url('images/upload/background.png') no-repeat;	
	background-position:			-6px -64px;
}

.SUIUploadFocus .ButtonRight
{}

.SUIUploadLeftClicked .ButtonRight
{
	background-position:			-6px -256px;
}

.SUIUploadDisabled .ButtonRight
{
	background-position:			-6px -192px;
}

.SUIUpload .TextLeft
{
	float: 					left;
	
	width: 					4px;
	height: 				32px;
	
	background: 				transparent url('images/upload/background.png') no-repeat;	
	background-position:			0px 0px;
}

.SUIUploadFocus .TextLeft
{}

.SUIUploadDisabled .TextLeft
{
	background: 				transparent url('images/upload/background.png') no-repeat;
	background-position:			0px -128px;
}

.SUIUpload .TextCenter
{
	float: 					left;

	padding-top:				8px;	

	
	height:					24px;

	background: 				transparent url('images/upload/background.png') repeat-x;	
	background-position:			0px -32px;
	
	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;	
	color:					#444;
		
	white-space:				nowrap;
	overflow:				hidden;
	cursor:					default;
}

.SUIUploadFocus .TextCenter
{}

.SUIUploadDisabled .TextCenter
{
	background: 				transparent url('images/upload/background.png') repeat-x;
	background-position:			0px -160px;

	color:					#aaaaaa;
}

.SUIUpload .TextRight
{
	float: 					left;
	
	width: 					4px;
	height: 				32px;
	
	background: 				transparent url('images/upload/background.png') no-repeat;	
	background-position:			-4px 0px;
}

.SUIUploadFocus .TextRight
{}

.SUIUploadDisabled .TextRight
{
	background: 				transparent url('images/upload/background.png') no-repeat;
	background-position:			-4px -128px;
}



/* --------------------------------------------------------------------------------------------------------------
Tabview
-------------------------------------------------------------------------------------------------------------- */
.SUITabview
{
	position: 				relative;

	display: 				inline-block;			
}

.SUITabview .Tabs
{
	height: 				32px;
}

.SUITabview .Tab
{
	
}

.SUITabview .TabButton
{
	float: 					left;
	
	margin-right:				3px;	
	
	cursor:					pointer;
}

.SUITabview .TabButtonSelected
{
	float: 					left;
	
}

.SUITabview .TabButton .Left
{
	float:					left;

	width:					4px;
	height:					28px;

	background: 				transparent url('images/tabview/background.png') no-repeat;
	background-position:			0px 0px;
}

.SUITabview .TabButtonSelected .Left
{
	float:					left;

	width:					4px;
	height:					32px;

	background: 				transparent url('images/tabview/background.png') no-repeat;
	background-position:			0px -56px;
}


.SUITabview .TabButton .Center
{
	float:					left;
	
	padding-top:				4px;
	
	width:					100px;
	height:					24px;	
	
	background: 				transparent url('images/tabview/background.png') repeat-x;
	background-position:			0px -28px;
	
	font-family:				arial;		
	font-size:				13px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 0px #fff;		
	text-align:				center;
	
	color:					#777;
}

.SUITabview .TabButtonSelected .Center
{
	float:					left;
	
	padding-top:				6px;
	
	width:					100px;
	height:					26px;	
	
	background: 				transparent url('images/tabview/background.png') repeat-x;
	background-position:			0px -88px;
	
	font-family:				arial;		
	font-size:				13px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 0px #444444;		
	text-align:				center;
	color:	#fff;
}


.SUITabview .TabButton .Right
{
	float:					left;
	
	width:					4px;
	
	height:					28px;	
	background: 				transparent url('images/tabview/background.png') no-repeat;
	background-position:			-4px 0px;
}

.SUITabview .TabButtonSelected .Right
{
	float:					left;
	
	width:					4px;
	
	height:					32px;	
	background: 				transparent url('images/tabview/background.png') no-repeat;
	background-position:			-4px -56px;
}


.SUITabview .TopLeft
{
	float: 					left;
	
	width:					0px;
	height:					10px;	
			
	background: 				none;
}

.SUITabview .TopCenter
{
	float: 					left;

	width:					0px;
	height:					0px;	
			
	background: 				none;
}

.SUITabview .TopRight
{
	float: 					left;

	width:					0px;
	height:					0px;	
			
	background: 				none;
}

.SUITabview .ContentLeft
{
	float: 					left;
			
	width:					0px;
	height:					0px;	

	background: 				none;
}

.SUITabview .ContentCenter
{
	float: 					left;

	width:					0px;
	height:					0px;	
			
	background: 				none;
}

.SUITabview .ContentRight
{
	float: 					left;

	width:					0px;
	height:					0px;	
			
	background: 				none;
}

.SUITabview .BottomLeft
{
	float: 					left;

	width:					0px;
	height:					0px;	
			
	background: 				none;
}

.SUITabview .BottomCenter
{
	float: 					left;

	width:					0px;
	height:					0px;	
			
	background: 				none;
}

.SUITabview .BottomRight
{
	float: 					left;

	width:					0px;
	height:					0px;	
			
	background: 				none;
}



/* --------------------------------------------------------------------------------------------------------------
Listview
-------------------------------------------------------------------------------------------------------------- */
.SUIListview
{
	margin: 				1px;		
	padding:				3px;
		
	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;		

	display: 				inline-block;	
	outline:				none;
}

.SUIListviewFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIListviewDisabled
{}

.SUIListview .TopLeft
{
	float: 					left;
		
	width: 					5px;
	height: 				32px;
	
	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px 0px;	
}

SUIListviewFocus .TopLeft
{}

.SUIListviewDisabled .TopLeft
{
	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px -74px;	
}

.SUIListview .TopCenter
{
	float: 					left;
	
	height:					32px;

	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px -32px;
}

.SUIListviewFocus. TopCenter
{}

.SUIListviewDisabled .TopCenter
{
	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px -106px;	
	
	color:					#aaaaaa;
}

.SUIListview .TopRight
{
	float: 					left;
			
	width: 					5px;
	height: 				32px;	

	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			-5px 0px;
}

.SUIListviewFocus .TopRight
{}

.SUIListviewDisabled .TopRight
{
	background: 				transparent url('images/listview/background1.png') no-repeat;	
	background-position:			-5px -74px;	
}

.SUIListview .ContentLeft
{
	float: 					left;
	
	width: 					5px;
	
	background: 				transparent url('images/listview/background2.png') repeat-y;	
	background-position:			0px 0px;	
}

.SUIListviewFocus .ContentLeft
{}

.SUIListviewDisabled  .ContentLeft
{
	background: 				transparent url('images/listview/background2.png') repeat-y;	
	background-position:			-10px 0px;	
}

.SUIListview .ContentCenter
{
	float: 					left;	
	
	background-color:			#ffffff;
	
	outline: 				none;
}

.SUIListviewFocus .ContentCenter
{}

.SUIListviewDisabled .ContentCenter
{
}

.SUIListview .ContentRight
{
	float: 					left;
	
	width: 					5px;

	background: 				transparent url('images/listview/background2.png') repeat-y;	
	background-position:			-5px 0px;	
}

.SUIListviewFocus .ContentRight
{}

.SUIListviewDisabled .ContentRight
{
	background: 				transparent url('images/listview/background2.png') repeat-y;	
	background-position:			-15px 0px;	
}

.SUIListview .BottomLeft
{
	float: 					left;
	
	width: 					5px;
	height:					5px;
	
	background: 				transparent url('images/listview/background1.png') no-repeat;	
	background-position:			0px -64px;		
}

.SUIListviewFocus .BottomLeft
{}

.SUIListviewDisabled .BottomLeft
{
	background: 				transparent url('images/listview/background1.png') no-repeat;	
	background-position:			0px -138px;	
}

.SUIListview .BottomCenter
{
	float: 					left;
	
	height:					5px;

	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px -69px;		

}

.SUIListviewFocus .BottomCenter
{}

.SUIListviewDisabled .BottomCenter
{
	background: 				transparent url('images/listview/background1.png') repeat-x;	
	background-position:			0px -143px;	
}

.SUIListview .BottomRight
{
	float: 					left;

		
	height: 				5px;		
	width: 					5px;	

	background: 				transparent url('images/listview/background1.png') no-repeat;	
	background-position:			-5px -64px;			
}

.SUIListviewFocus .BottomRight
{}

.SUIListviewDisabled .BottomRight
{
	background: 				transparent url('images/listview/background1.png') no-repeat;	
	background-position:			-5px -138px;	
}

.SUIListview .Header
{
	float:					left;
	
	padding-top:				8px;
	padding-left:				10px;	
	
	height: 				25px;
			
	text-decoration: 			none;		
	color:					#222222;
}

.SUIListviewDisabled .Header
{
	background: 				transparent url('images/listview/header_disabled.png') no-repeat;	
	background-position:			right center;	

	color:					#aaaaaa;
}

.SUIListview .ItemRow
{	
	cursor:					default;
	height:					25px;
}

.SUIListview .ItemRowSelected
{
	background:				#eeeeee;	
}

.SUIListviewFocus .ItemRow
{}

.SUIListviewDisabled .ItemRow
{}

.SUIListviewFocus .ItemRowSelected
{	
	background-color:			#54bbf8;
}

.SUIListviewDisabled .ItemRow
{
	cursor:					default;
}

.SUIListviewDisabled .ItemRowSelected
{
	background-color:			#dddddd;
	cursor:					default;
}

.SUIListview .ItemColumn
{
	float:					left;
	
	padding-top:				5px;
	padding-left:				10px;	

	height: 				20px;
		
	font-size:				13px;
	text-decoration: 			none;	
	color:					#444;	
}

.SUIListview .ItemRowSelected .ItemColumn
{
	color:					#000;
}

.SUIListviewDisabled .ItemColumn
{
	color: 					#aaaaaa;
}


/* --------------------------------------------------------------------------------------------------------------
Layoutbox
-------------------------------------------------------------------------------------------------------------- */
.SUILayoutbox
{
	position: 				relative;

	display: 				inline-block;	
	outline:				none;
}

.SUILayoutbox .Panel
{
	margin:					0px;
	padding: 				5px;
	
}

/* --------------------------------------------------------------------------------------------------------------
Layoutbox
-------------------------------------------------------------------------------------------------------------- */
.SUILayoutboxNoBorder
{
	position: 				relative;

	display: 				inline-block;	
	outline:				none;
}

.SUILayoutboxNoBorder .Panel
{
	margin:					0px;
	padding: 				0px;

}



/* --------------------------------------------------------------------------------------------------------------
HTMLView
-------------------------------------------------------------------------------------------------------------- */
.SUIHTMLView
{
	position: 				relative;

	margin: 				1px;	
	padding:				3px;

	display: 				inline-block;	
	outline:				none;
}

.SUIHTMLViewFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIHTMLViewDisabled
{}

.SUIHTMLView .TopLeft
{
	float: 					left;
		
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/htmlview/background1.png') no-repeat;	
	background-position:			0px 0px;
}

.SUIHTMLViewFocus .TopLeft
{}

.SUIHTMLViewDisabled .TopLeft
{
	background: 				transparent url('images/htmlview/background1.png') no-repeat;	
	background-position:			0px -20px;
}

.SUIHTMLView .TopCenter
{
	float: 					left;
	
	height:					5px;
	
	background: 				transparent url('images/htmlview/background1.png') repeat-x;	
	background-position:			0px -5px;
}

.SUIHTMLViewFocus. TopCenter
{}

.SUIHTMLViewDisabled .TopCenter
{
	background: 				transparent url('images/htmlview/background1.png') repeat-x;	
	background-position:			0px -25px;
}

.SUIHTMLView .TopRight
{
	float: 					left;
			
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/htmlview/background1.png') no-repeat;	
	background-position:			-5px 0px;
}

.SUIHTMLViewFocus .TopRight
{}

.SUIHTMLViewDisabled .TopRight
{
	background: 				transparent url('images/htmlview/background1.png') no-repeat;	
	background-position:			-5px -20px;
}

.SUIHTMLView .ContentLeft
{
	float: 					left;
	
	width: 					5px;

	background: 				transparent url('images/htmlview/background2.png') repeat-y;	
	background-position:			0px 0px;
}

.SUIHTMLViewFocus .ContentLeft
{}

.SUIHTMLViewDisabled  .ContentLeft
{
	background: 				transparent url('images/htmlview/background2.png') repeat-y;	
	background-position:			-10px 0px;
}

.SUIHTMLView .ContentCenter
{
	float: 					left;
	
	background-color: 			#ffffff;
	
	outline: 				none;
}

.SUIHTMLViewFocus .ContentCenter
{}

.SUIHTMLViewDisabled .ContentCenter
{
	background: 				#ffffff;
}

.SUIHTMLView .ContentRight
{
	float: 					left;
	
	width: 					5px;
	
	background: 				transparent url('images/htmlview/background2.png') repeat-y;	
	background-position:			-5px 0px;
}

.SUIHTMLViewFocus .ContentRight
{}

.SUIHTMLViewDisabled .ContentRight
{
	background: 				transparent url('images/htmlview/background2.png') repeat-y;	
	background-position:			-15px 0px;
}

.SUIHTMLView .BottomLeft
{
	float: 					left;
	
	width: 					5px;
	height:					5px;	
	
	background: 				transparent url('images/htmlview/background1.png') no-repeat;	
	background-position:			0px -10px;
}

.SUIHTMLViewFocus .BottomLeft
{}

.SUIHTMLViewDisabled .BottomLeft
{
	background: 				transparent url('images/htmlview/background1.png') no-repeat;	
	background-position:			0px -30px;
}

.SUIHTMLView .BottomCenter
{
	float: 					left;
	
	height:					5px;

	background: 				transparent url('images/htmlview/background1.png') repeat-x;	
	background-position:			0px -15px;
}

.SUIHTMLViewFocus .BottomCenter
{}

.SUIHTMLViewDisabled .BottomCenter
{
	background: 				transparent url('images/htmlview/background1.png') repeat-x;	
	background-position:			0px -35px;
}

.SUIHTMLView .BottomRight
{
	float: 					left;
	
	height: 				5px;		
	width: 					5px;	
	
	background: 				transparent url('images/htmlview/background1.png') no-repeat;	
	background-position:			-5px -10px;
}

.SUIHTMLViewFocus .BottomRight
{}



.SUIHTMLViewDisabled .BottomRight
{
	background: 				transparent url('images/htmlview/background1.png') no-repeat;	
	background-position:			-5px -30px;
}

.SUIHTMLView .Item
{
	float:					left;
	
	margin:					3px;	
	padding:				4px;
	
	width:					90px;
	height:					90px;
	
	background: 				transparent url('images/htmlview/background3.png') no-repeat;
	background-position:			0px 0px;
}

.SUIHTMLViewDisabled .Item
{}

.SUIHTMLView .ItemSelected
{
	float:					left;
	
	margin:					3px;
	padding:				4px;
	
	width:					90px;
	height:					90px;
	
	background: 				transparent url('images/htmlview/background3.png') no-repeat;
	background-position:			0px -98px;
}

.SUIHTMLViewDisabled .Item
{}

.SUIHTMLViewDisabled .ItemSelected
{}

.SUIHTMLView .Image
{
	width:					90px;
	height:					90px;
}


/* --------------------------------------------------------------------------------------------------------------
Image
-------------------------------------------------------------------------------------------------------------- */
.SUIImage
{
	position: 				relative;

	margin: 				1px;	
	padding:				3px;

	display: 				inline-block;	
	outline:				none;
}

.SUIImageFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIImageDisabled
{}

.SUIImage .TopLeft
{
	float: 					left;
		
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			0px 0px;
}

.SUIImageFocus .TopLeft
{}

.SUIImageDisabled .TopLeft
{
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			0px -20px;
}

.SUIImage .TopCenter
{
	float: 					left;
	
	height:					5px;
	
	background: 				transparent url('images/image/background1.png') repeat-x;	
	background-position:			0px -5px;
}

.SUIImageFocus. TopCenter
{}

.SUIImageDisabled .TopCenter
{
	background: 				transparent url('images/image/background1.png') repeat-x;	
	background-position:			0px -25px;
}

.SUIImage .TopRight
{
	float: 					left;
			
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			-5px 0px;
}

.SUIImageFocus .TopRight
{}

.SUIImageDisabled .TopRight
{
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			-5px -20px;
}

.SUIImage .ContentLeft
{
	float: 					left;
	
	width: 					5px;

	background: 				transparent url('images/image/background2.png') repeat-y;	
	background-position:			0px 0px;
}

.SUIImage .ContentLeft
{}

.SUIImageDisabled  .ContentLeft
{
	background: 				transparent url('images/image/background2.png') repeat-y;	
	background-position:			-10px 0px;
}

.SUIImage .ContentCenter
{
	float: 					left;
	
	background-color: 			#ffffff;
	
	outline: 				none;
}

.SUIImageFocus .ContentCenter
{}

.SUIImageDisabled .ContentCenter
{
	background: 				#ffffff;
}

.SUIImage .ContentRight
{
	float: 					left;
	
	width: 					5px;
	
	background: 				transparent url('images/image/background2.png') repeat-y;	
	background-position:			-5px 0px;
}

.SUIImageFocus .ContentRight
{}

.SUIImageDisabled .ContentRight
{
	background: 				transparent url('images/image/background2.png') repeat-y;	
	background-position:			-15px 0px;
}

.SUIImage .BottomLeft
{
	float: 					left;
	
	width: 					5px;
	height:					5px;	
	
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			0px -10px;
}

.SUIImageFocus .BottomLeft
{}

.SUIImageDisabled .BottomLeft
{
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			0px -30px;
}

.SUIImage .BottomCenter
{
	float: 					left;
	
	height:					5px;

	background: 				transparent url('images/image/background1.png') repeat-x;	
	background-position:			0px -15px;
}

.SUIImageFocus .BottomCenter
{}

.SUIImageDisabled .BottomCenter
{
	background: 				transparent url('images/image/background1.png') repeat-x;	
	background-position:			0px -35px;
}

.SUIImage .BottomRight
{
	float: 					left;
	
	height: 				5px;		
	width: 					5px;	
	
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			-5px -10px;
}

.SUIImageFocus .BottomRight
{}



.SUIImageDisabled .BottomRight
{
	background: 				transparent url('images/image/background1.png') no-repeat;	
	background-position:			-5px -30px;
}

.SUIImage .Render
{	

}

.SUIImage .Item
{
	float:					left;
	
	margin:					3px;	
	padding:				4px;
	
	width:					90px;
	height:					90px;
	
	background: 				transparent url('images/image/background3.png') no-repeat;
	background-position:			0px 0px;
}

.SUIImageDisabled .Item
{}

.SUIImage .ItemSelected
{
	float:					left;
	
	margin:					3px;
	padding:				4px;
	
	width:					90px;
	height:					90px;
	
	background: 				transparent url('images/image/background3.png') no-repeat;
	background-position:			0px -98px;
}

.SUIImageDisabled .Item
{}

.SUIImageDisabled .ItemSelected
{}

.SUIImage .Image
{
	width:					90px;
	height:					90px;
}



/* --------------------------------------------------------------------------------------------------------------
LabelWhite
-------------------------------------------------------------------------------------------------------------- */
.SUILabelWhite
{
	position: 				relative;

	margin-top:				10px;

	display: 				inline-block;	
	outline:				none;
}

.SUILabelWhiteDisabled
{}

.SUILabelWhite .Text
{
	float: 					left;
		
	height:					25px;
		

	font-size:				14px;
	text-decoration: 		none;	
	text-shadow: 			1px 1px 1px #222222;		
	
	
	
	color:					#eeeeee;
			
	cursor:					default;	
}

.SUILabelDisabled .Text
{}



/* --------------------------------------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------------------------------------- */
.SUIButton
{
	margin: 				1px;	
	
	padding:				3px;

	font-family:				arial;		
	font-size:				13px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 0px #444444;		
	text-align:				center;

	display: 				inline-block;	
	outline:				none;	
}

.SUIButtonFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIButtonDisabled
{
}

.SUIButtonLeftClicked
{
}

.SUIButton .Left
{
	float: 					left;
		
	width: 					6px;
	height: 				32px;
	
	background: 				transparent url('images/button/background.png') no-repeat;
	background-position:			0px 0px;
}

.SUIButtonLeftClicked .Left
{
	background-position:			0px -64px;
}

.SUIButtonDisabled .Left
{
	background-position:			0px -128px;
}

.SUIButton .Center
{
	float: 					left;

	padding-top:				7px;
	
	height:					25px;
	
	background: 				transparent url('images/button/background.png') repeat-x;
	background-position:			0px -32px;	
		
	color:					#ffffff;	
	cursor:					default;	
}

.SUIButtonLeftClicked .Center
{
	padding-top:				8px;
	
	height:					24px;
	
	background-position:			0px -96px;
}

.SUIButtonDisabled .Center
{
	background-position:			0px -160px;
	
	text-shadow: 				1px 1px 0px #fff;	
	color:					#777;
}

.SUIButton .Right
{
	float: 					left;
		
	width: 					6px;
	height: 				32px;
	
	background: 				transparent url('images/button/background.png') no-repeat;
	background-position:			-6px 0px;
}

.SUIButtonLeftClicked .Right
{
	background-position:			-6px -64px;
}

.SUIButtonDisabled .Right
{
	background-position:			-6px -128px;
}


/* --------------------------------------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------------------------------------- */
.SUIButtonSmall
{
	margin: 				1px;	
	
	padding:				3px;

	font-family:				verdana;		
	font-size:				9px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 0px #444444;		
	text-align:				center;

	display: 				inline-block;	
	outline:				none;	
}

.SUIButtonSmallFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIButtonSmallDisabled
{
}

.SUIButtonSmallLeftClicked
{
}

.SUIButtonSmall .Left
{
	float: 					left;
		
	width: 					5px;
	height: 				18px;
	
	background: 				transparent url('images/buttonsmall/background.png') no-repeat;
	background-position:			0px 0px;
}

.SUIButtonSmallLeftClicked .Left
{
	background-position:			0px -36px;
}

.SUIButtonSmallDisabled .Left
{
	background-position:			0px -72px;
}

.SUIButtonSmall .Center
{
	float: 					left;

	padding-top:				2px;
	
	height:					16px;
	
	background: 				transparent url('images/buttonsmall/background.png') repeat-x;
	background-position:			0px -18px;	
			
	color:					#ffffff;	
	cursor:					default;	
}

.SUIButtonSmallLeftClicked .Center
{
	padding-top:				3px;
	
	height:					15px;
	
	background-position:			0px -54px;
}

.SUIButtonSmallDisabled .Center
{
	background-position:			0px -90px;
	
	text-shadow: 				1px 1px 0px #fff;	
	color:					#777;
}

.SUIButtonSmall .Right
{
	float: 					left;
		
	width: 					5px;
	height: 				18px;
	
	background: 				transparent url('images/buttonsmall/background.png') no-repeat;
	background-position:			-5px 0px;
}

.SUIButtonSmallLeftClicked .Right
{
	background-position:			-5px -36px;
}

.SUIButtonSmallDisabled .Right
{
	background-position:			-5px -72px;
}



/* --------------------------------------------------------------------------------------------------------------
Checkbox
-------------------------------------------------------------------------------------------------------------- */
.SUICheckbox
{
	margin: 				1px;		
	padding:				12px;

	display: 				inline-block;
	outline:				none;
	cursor:					default;			
}

.SUICheckboxFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUICheckboxDisabled
{}

.SUICheckboxChecked
{}

.SUICheckboxDisabledChecked
{}

.SUICheckbox .Checkmark
{					
	height: 				14px;	
	width: 					14px;	

	background: 				transparent url('images/checkbox/background.png') no-repeat;
	background-position:			0px 0px;
}

.SUICheckboxFocus .Checkmark
{}

.SUICheckboxChecked .Checkmark
{
	background: 				transparent url('images/checkbox/background.png') no-repeat;
	background-position:			-14px 0px;
}

.SUICheckboxDisabled .Checkmark
{
	background: 				transparent url('images/checkbox/background.png') no-repeat;
	background-position:			0px -14px;
}

.SUICheckboxDisabledChecked .Checkmark
{
	background: 				transparent url('images/checkbox/background.png') no-repeat;
	background-position:			-14px -14px;
}


/* --------------------------------------------------------------------------------------------------------------
Dropbox
-------------------------------------------------------------------------------------------------------------- */
.SUIDropbox
{
	margin: 				1px;	
	padding: 				3px;

	display: 				inline-block;	
	outline:				none;

	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;	
}

.SUIDropboxFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIDropboxDisabled
{
}

.SUIDropbox .Left
{
	float: 					left;
			
	width: 					4px;
	height: 				32px;
	
	background: 				transparent url('images/dropbox/background.png') no-repeat;
	background-position:			0px 0px;
}

.SUIDropboxDisabled .Left
{
	background-position:			0px -96px;
}

.SUIDropbox .Center
{
	position:				relative;	
	float: 					left;
	
	height:					32px;
	
	background: 				transparent url('images/dropbox/background.png') repeat-x;
	background-position:			0px -64px;
}

.SUIDropboxDisabled .Center
{
	background-position:			0px -128px;	
	
	color:					#aaaaaa;
}

.SUIDropbox .Right
{
	float: 					left;
			
	width: 					3px;
	height: 				32px;
	
	background: 				transparent url('images/dropbox/background.png') no-repeat;
	background-position:			-4px  0px;	
}

.SUIDropboxDisabled .Right
{
	background-position:			-4px -96px;
}

.SUIDropbox .Text
{
	margin:					8px 0px 0px 4px;
			
	color:					#444444;	
	cursor:					default;	
}

.SUIDropboxDisabled .Text
{
	color:					#999999;
}

.SUIDropbox .Arrow
{
	position: 				absolute;
	
	top: 					0px;
	right:					0px;
	
	width:					33px;
	height:					32px;
	
	background: 				transparent url('images/dropbox/background.png') no-repeat;
	background-position:			0px -32px;
}

.SUIDropboxDisabled .Arrow
{
	background-position:			0px -160px;
}

.SUIDropbox .ItemList
{
	margin:					0px;
	padding:				0px;

	border-style: 				none solid solid solid;
	border-width: 				1px;
	border-color: 				#cdcdcd;
	
	background: 				#f7f9f9 url('images/dropbox/background_itemlist.png') repeat-x;	
	background-position:			bottom right;

	z-index:				100;
}

.SUIDropbox .Item
{
	padding:				4px;
	padding-left:				4px;
	
	color:					#444444;
	cursor:					default;	
}

.SUIDropbox .ItemFocus
{
	background-color:			#d9dfdf;
	color:					#444444;
}

.SUIDropbox .ItemSelected
{
	background-color:			#45b5f7;	
	
	color:					#444444;
}


/* --------------------------------------------------------------------------------------------------------------
Iconview
-------------------------------------------------------------------------------------------------------------- */
.SUIIconview
{
	position: 				relative;

	margin: 				1px;	
	padding:				3px;

	display: 				inline-block;	
	outline:				none;
}

.SUIIconviewFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIIconviewDisabled
{}

.SUIIconview .TopLeft
{
	float: 					left;
		
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			0px 0px;
}

SUIIconviewFocus .TopLeft
{}

.SUIIconviewDisabled .TopLeft
{
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			0px -20px;
}

.SUIIconview .TopCenter
{
	float: 					left;
	
	height:					5px;
	
	background: 				transparent url('images/iconview/background1.png') repeat-x;	
	background-position:			0px -5px;
}

.SUIIconviewFocus. TopCenter
{}

.SUIIconviewDisabled .TopCenter
{
	background: 				transparent url('images/iconview/background1.png') repeat-x;	
	background-position:			0px -25px;
}

.SUIIconview .TopRight
{
	float: 					left;
			
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			-5px 0px;
}

.SUIIconviewFocus .TopRight
{}

.SUIIconviewDisabled .TopRight
{
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			-5px -20px;
}

.SUIIconview .ContentLeft
{
	float: 					left;
	
	width: 					5px;

	background: 				transparent url('images/iconview/background2.png') repeat-y;	
	background-position:			0px 0px;
}

.SUIIconviewFocus .ContentLeft
{}

.SUIIconviewDisabled  .ContentLeft
{
	background: 				transparent url('images/iconview/background2.png') repeat-y;	
	background-position:			-10px 0px;
}

.SUIIconview .ContentCenter
{
	float: 					left;
	
	background-color: 			#ffffff;
	
	outline: 				none;
}

.SUIIconviewFocus .ContentCenter
{}

.SUIIconviewDisabled .ContentCenter
{
	background: 				#ffffff;
}

.SUIIconview .ContentRight
{
	float: 					left;
	
	width: 					5px;
	
	background: 				transparent url('images/iconview/background2.png') repeat-y;	
	background-position:			-5px 0px;
}

.SUIIconviewFocus .ContentRight
{}

.SUIIconviewDisabled .ContentRight
{
	background: 				transparent url('images/iconview/background2.png') repeat-y;	
	background-position:			-15px 0px;
}

.SUIIconview .BottomLeft
{
	float: 					left;
	
	width: 					5px;
	height:					5px;	
	
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			0px -10px;
}

.SUIIconviewFocus .BottomLeft
{}

.SUIIconviewDisabled .BottomLeft
{
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			0px -30px;
}

.SUIIconview .BottomCenter
{
	float: 					left;
	
	height:					5px;

	background: 				transparent url('images/iconview/background1.png') repeat-x;	
	background-position:			0px -15px;
}

.SUIIconviewFocus .BottomCenter
{}

.SUIIconviewDisabled .BottomCenter
{
	background: 				transparent url('images/iconview/background1.png') repeat-x;	
	background-position:			0px -35px;
}

.SUIIconview .BottomRight
{
	float: 					left;
	
	height: 				5px;		
	width: 					5px;	
	
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			-5px -10px;
}

.SUIIconviewFocus .BottomRight
{}



.SUIIconviewDisabled .BottomRight
{
	background: 				transparent url('images/iconview/background1.png') no-repeat;	
	background-position:			-5px -30px;
}

.SUIIconview .Item
{
	float:					left;
	
	margin:					3px;	
	padding:				4px;
	
	width:					90px;
	height:					90px;
	
	background: 				transparent url('images/iconview/background3.png') no-repeat;
	background-position:			0px 0px;
}

.SUIIconviewDisabled .Item
{}

.SUIIconview .ItemSelected
{
	float:					left;
	
	margin:					3px;
	padding:				4px;
	
	width:					90px;
	height:					90px;
	
	background: 				transparent url('images/iconview/background3.png') no-repeat;
	background-position:			0px -98px;
}

.SUIIconviewDisabled .Item
{}

.SUIIconviewDisabled .ItemSelected
{}

.SUIIconview .Image
{
	width:					90px;
	height:					90px;
}


/* --------------------------------------------------------------------------------------------------------------
Label
-------------------------------------------------------------------------------------------------------------- */
.SUILabel
{
	position: 				relative;

	margin-top:				10px;

	display: 				inline-block;	
	outline:				none;
}

.SUILabelDisabled
{}

.SUILabel .Text
{
	float: 					left;
		
	height:					25px;
		

	font-size:				14px;
	text-decoration: 		none;	
	text-shadow: 			1px 1px 1px #eeeeee;		
	
	white-space:nowrap;
	
	color:					#222222;
			
	cursor:					default;	
}

.SUILabelDisabled .Text
{}


/* --------------------------------------------------------------------------------------------------------------
ListviewNoborder
-------------------------------------------------------------------------------------------------------------- */
.SUIListviewNoborder
{
	margin: 				1px;		
	
	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;		

	display: 				inline-block;	
	outline:				none;
}

.SUIListviewNoborderFocus
{
}

.SUIListviewNoborderDisabled
{}

.SUIListviewNoborder .TopLeft
{
	float: 					left;
	
	width: 					5px;
	height: 				34px;
	
	background: 				none;	
}

SUIListviewNoborderFocus .TopLeft
{}

.SUIListviewNoborderDisabled .TopLeft
{
	background: 				none;
}

.SUIListviewNoborder .TopCenter
{	
	float: 					left;
	
	height:					33px;

	background:				transparent url('images/listviewnoborder/top_center.png') repeat-x;
}

.SUIListviewNoborderFocus. TopCenter
{}

.SUIListviewNoborderDisabled .TopCenter
{
	background: 				none;
	
	color:					#aaaaaa;
}

.SUIListviewNoborder .TopRight
{
	float: 					left;
	
	width: 					5px;
	height: 				34px;	
	
	background: 				none;
	
}

.SUIListviewNoborderFocus .TopRight
{}

.SUIListviewNoborderDisabled .TopRight
{
	background: 				none;
}

.SUIListviewNoborder .ContentLeft
{
	float: 					left;
	
	width: 					5px;
	
	background: 				none;
}

.SUIListviewNoborderFocus .ContentLeft
{}

.SUIListviewNoborderDisabled  .ContentLeft
{
	background: 				none;
}

.SUIListviewNoborder .ContentCenter
{
	float: 					left;	
	
	outline: 				none;
	
	background: 				none;
}

.SUIListviewNoborderFocus .ContentCenter
{}

.SUIListviewNoborderDisabled .ContentCenter
{
	background: 				none;
}

.SUIListviewNoborder .ContentRight
{
	float: 					left;
	
	width: 					5px;
	
	background: 				none;	
}

.SUIListviewNoborderFocus .ContentRight
{}

.SUIListviewNoborderDisabled .ContentRight
{
	background: 				none;
}

.SUIListviewNoborder .BottomLeft
{
	float: 					left;
	
	width: 					5px;
	height:					4px;	
	
	background: 				none;	
}

.SUIListviewNoborderFocus .BottomLeft
{}

.SUIListviewNoborderDisabled .BottomLeft
{
	background: 				none;
}

.SUIListviewNoborder .BottomCenter
{
	float: 					left;
	
	height:					4px;
	
	background: 				none;	
}

.SUIListviewNoborderFocus .BottomCenter
{}

.SUIListviewNoborderDisabled .BottomCenter
{
	background: 				none;
}

.SUIListviewNoborder .BottomRight
{
	float: 					left;
		
	height: 				4px;		
	width: 					5px;	
	
	background: 				none;	
}

.SUIListviewNoborderFocus .BottomRight
{}

.SUIListviewNoborderDisabled .BottomRight
{
	background: 				none;
}

.SUIListviewNoborder .Header
{
	float:					left;
	
	padding-top:				8px;
	padding-left:				10px;	
	
	height: 25px;
		
	background: 				transparent url('images/listviewnoborder/header.png') no-repeat;	
	background-position:			right bottom;	
	
	text-decoration: 			none;		
	color:					#222222;
}

.SUIListviewNoborderDisabled .Header
{
	background: 				transparent url('images/listviewnoborder/header_disabled.png') no-repeat;	
	background-position:			right center;	

	color:					#aaaaaa;
}

.SUIListviewNoborder .ItemRow
{	
	cursor:					default;	
}

.SUIListviewNoborder .ItemRowSelected
{
	background:				#eeeeee;	
}

.SUIListviewNoborderFocus .ItemRow
{}

.SUIListviewNoborderDisabled .ItemRow
{	
}

.SUIListviewNoborderFocus .ItemRowSelected
{	
	background-color:			#54bbf8;
}

.SUIListviewNoborderDisabled .ItemRow
{
	cursor:					default;
}

.SUIListviewNoborderDisabled .ItemRowSelected
{
	background-color:			#dddddd;
	cursor:					default;
}

.SUIListviewNoborder .ItemColumn
{
	float:					left;
	
	padding-top:				12px;
	padding-left:				10px;	

	height: 30px;
	
	background: 				transparent url('images/listviewnoborder/header.png') repeat-y;
	background-position:			right center;	
	
	font-size:				13px;
	text-decoration: 			none;	
	color:					#444;	
}

.SUIListviewNoborder .ItemRowSelected .ItemColumn
{
	color:					#000;
}

.SUIListviewNoborderDisabled .ItemColumn
{
	color: 					#aaaaaa;
}




/* --------------------------------------------------------------------------------------------------------------
Textarea
-------------------------------------------------------------------------------------------------------------- */
.SUITextarea
{
	margin: 				1px;	
	
	padding: 				3px;
	
	display: 				inline-block;
	outline:				none;
	cursor:					default;			
}

.SUITextareaFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUITextareaDisabled
{}

.SUITextarea .TopLeft
{
	float:					left;

	width:					4px;
	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') no-repeat;	
	background-position:			0px 0px;
}

.SUITextarea .TopCenter
{
	float:					left;
	
	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') repeat-x;		
	background-position:			0px -4px;
}

.SUITextarea .TopRight
{
	float:					left;

	width:					4px;
	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') no-repeat;	
	background-position:			-4px 0px;
}

.SUITextarea .CenterLeft
{
	float:					left;

	width:					4px;
	
	background: 				transparent url('images/textarea/background2.png') repeat-y;
	background-position:			0px 0px;
}

.SUITextarea .CenterCenter
{
	float:					left;

	background: 				transparent url('images/textarea/background3.png') repeat-x;	
}

.SUITextarea .CenterRight
{
	float:					left;

	width:					4px;
	
	background: 				transparent url('images/textarea/background2.png') repeat-y;
	background-position:			-4px 0px;
}

.SUITextarea .BottomLeft
{
	float:					left;

	width:					4px;
	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') no-repeat;		
	background-position:			0px -8px;
}

.SUITextarea .BottomCenter
{
	float:					left;

	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') repeat-x;		
	background-position:			0px -12px;
}

.SUITextarea .BottomRight
{
	float:					left;

	width:					4px;
	height:					4px;
	
	background: 				transparent url('images/textarea/background1.png') no-repeat;		
	background-position:			-4px -8px;
}

.SUITextarea .Provider
{	
	margin:					0px;
	padding:				0px;
	
	width: 					0px;
	height:					0px;
	
	background-color:			transparent;
	
	border: 				none;	
	
	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;	
	color:					#444444;
}



/* --------------------------------------------------------------------------------------------------------------
Textbox
-------------------------------------------------------------------------------------------------------------- */
.SUITextbox
{
	margin: 				1px;	
	padding:				3px;

	display: 				inline-block;
	outline:				none;	
}

.SUITextboxFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUITextboxDisabled
{
}

.SUITextbox .Left
{
	float: 					left;
		
	width: 					4px;
	height: 				32px;
	
	background: 				transparent url('images/textbox/background.png') no-repeat;
	background-position:			0px 0px;
}

.SUITextboxFocus .Left
{
}

.SUITextboxDisabled .Left
{
	background: 				transparent url('images/textbox/background.png') no-repeat;
	background-position:			0px -64px;
}

.SUITextbox .Center
{
	float: 					left;
	
	height:					32px;
	
	background: 				transparent url('images/textbox/background.png') repeat-x;
	background-position:			0px -32px;
}

.SUITextboxFocus .Center
{
}

.SUITextboxDisabled .Center
{
	background: 				transparent url('images/textbox/background.png') repeat-x;
	background-position:			0px -96px;
	
	color:					#aaaaaa;
}

.SUITextbox .Right
{
	float: 					left;
			
	width: 					4px;
	height: 				32px;
	
	background: 				transparent url('images/textbox/background.png') no-repeat;
	background-position:			-4px 0px;

}

.SUITextboxFocus .Right
{
}

.SUITextboxDisabled .Right
{
	background: 				transparent url('images/textbox/background.png') no-repeat;
	background-position:			-4px -64px;
}

.SUITextbox .Input
{	
	margin:					7px 3px 3px 3px;

	width: 					0px;
	
	background:				transparent;
	
	border:					none;	

	font-family:				arial;		
	font-size:				15px;
	text-decoration: 			none;	
	text-shadow: 				1px 1px 1px #ffffff;	
	color:					#444444;
	
	outline: 				none;
}

.SUITextboxFocus .Input
{
}

.SUITextboxDisabled .Input
{
	color:					#aaaaaa;
	cursor:					default;
}


/* --------------------------------------------------------------------------------------------------------------
Text
-------------------------------------------------------------------------------------------------------------- */
.SUIText
{
	position: 				relative;

	margin:					5px;	

	display: 				inline-block;	
	outline:				none;
}

.SUITextDisabled
{}

.SUIText .Text
{
	float: 					left;
			
	font-size:				12px;
	text-decoration: 		none;	
	text-shadow: 			1px 1px 1px #eeeeee;		
	line-height:			23px;
		
	color:					#555;
			
	cursor:					default;	
}

.SUITextDisabled .Text
{}


