/* --------------------------------------------------------------------------------------------------------------
Iconview
-------------------------------------------------------------------------------------------------------------- */
.SUIIconview
{
	position: 				relative;

	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIIconviewFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIIconviewDisabled
{}

.SUIIconview .TopLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;

	
	width: 					5px;
	height: 				5px;
	background: 				transparent url('images/iconview/top_left.png') no-repeat;		
}

SUIIconviewFocus .TopLeft
{}

.SUIIconviewDisabled .TopLeft
{
	background: 				transparent url('images/iconview/top_left_disabled.png') no-repeat;	
}

.SUIIconview .TopCenter
{
	float: 					left;

	margin-top: 				3px;	

	
	height:					5px;
	background: 				transparent url('images/iconview/top_center.png') repeat-x;	
}

.SUIIconviewFocus. TopCenter
{}

.SUIIconviewDisabled .TopCenter
{
	background: 				transparent url('images/iconview/top_center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIIconview .TopRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;

		
	width: 					5px;
	height: 				5px;
	
	background: 				transparent url('images/iconview/top_right.png') no-repeat;	
}

.SUIIconviewFocus .TopRight
{}

.SUIIconviewDisabled .TopRight
{
	background: 				transparent url('images/iconview/top_right_disabled.png') no-repeat;	
}

.SUIIconview .ContentLeft
{
	float: 					left;
	
	margin-left:				3px;


	width: 					5px;

	background: 				transparent url('images/iconview/content_left.png') repeat-y;	
}

.SUIIconviewFocus .ContentLeft
{}

.SUIIconviewDisabled  .ContentLeft
{
	background: 				transparent url('images/iconview/content_left_disabled.png') repeat-y;	
}

.SUIIconview .ContentCenter
{
	float: 					left;
	
	background: 				#ffffff url('images/iconview/content_center.png') repeat-x;		
	
	outline: 				none;
}

.SUIIconviewFocus .ContentCenter
{}

.SUIIconviewDisabled .ContentCenter
{
	background: 				#ffffff url('images/iconview/content_center_disabled.png') repeat-x;	
}

.SUIIconview .ContentRight
{
	float: 					left;
	
	margin-right:				3px;

		
	width: 					5px;
	
	background: 				transparent url('images/iconview/content_right.png') repeat-y;	
}

.SUIIconviewFocus .ContentRight
{}

.SUIIconviewDisabled .ContentRight
{
	background: 				transparent url('images/iconview/content_right_disabled.png') repeat-y;	
}

.SUIIconview .BottomLeft
{
	float: 					left;
	
	margin-left:				3px;
	margin-bottom:				3px;


	width: 					5px;
	height:					5px;	
	
	background: 				transparent url('images/iconview/bottom_left.png') no-repeat;	
}

.SUIIconviewFocus .BottomLeft
{}

.SUIIconviewDisabled .BottomLeft
{
	background: 				transparent url('images/iconview/bottom_left_disabled.png') no-repeat;	
}

.SUIIconview .BottomCenter
{
	float: 					left;
	
	margin-bottom:				3px;
	
	height:					5px;

	background: 				transparent url('images/iconview/bottom_center.png') repeat-x;		
}

.SUIIconviewFocus .BottomCenter
{}

.SUIIconviewDisabled .BottomCenter
{
	background: 				transparent url('images/iconview/bottom_center_disabled.png') repeat-x;	
}

.SUIIconview .BottomRight
{
	float: 					left;
	
	margin-right:				3px;
	margin-bottom:				3px;
	
	height: 				5px;

		
	width: 					5px;	
	
	background: 				transparent url('images/iconview/bottom_right.png') no-repeat;
}

.SUIIconviewFocus .BottomRight
{}

.SUIIconviewDisabled .BottomRight
{
	background: 				transparent url('images/iconview/bottom_right_disabled.png') no-repeat;
}



.SUIIconview .ItemRow
{	
	padding-top: 				2px;
	
	height:					20px;	

	background:				transparent;

	cursor:					default;	
}

.SUIIconview .ItemRowSelected
{
	background:				#bbbbbb;	
}

.SUIIconviewFocus .ItemRow
{}

.SUIIconviewDisabled .ItemRow
{

	
}



.SUIIconviewFocus .ItemRowSelected
{	
	background-color:			#86b510;
}

.SUIIconviewDisabled .ItemRow
{
	cursor:					default;
}

.SUIIconviewDisabled .ItemRowSelected
{
	background-color:			#dddddd;
	cursor:					default;
}




.SUIIconview .Item
{
	float:					left;
	
	margin:					6px;
	
	padding: 				5px;
	
	width:					80px;
	height:					80px;
	
	background: 				transparent url('images/iconview/item.png') no-repeat;
}


.SUIIconview .ItemSelected
{
	float:					left;
	
	margin:					6px;
	
	padding: 				5px;
	
	width:					80px;
	height:					80px;
	
	background: 				transparent url('images/iconview/item_selected.png') no-repeat;
}

.SUIIconview .Image
{
	width:					80px;
	height:					80px;
}

.SUIIconviewDisabled .Item
{

}

.SUIIconviewDisabled .ItemSelected
{

}
/* --------------------------------------------------------------------------------------------------------------
Textarea
-------------------------------------------------------------------------------------------------------------- */
.SUITextarea
{
	margin: 				1px;	
	padding: 				3px;
	
	display: 				inline-block;

	outline:				none;
	cursor:					default;			
}

.SUITextareaFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUITextareaDisabled
{}

.SUITextarea .TopLeft
{
	float:					left;

	width:					5px;
	height:					5px;
	
	background-image:			url('images/textarea/top_left.png');	
}

.SUITextarea .TopCenter
{
	float:					left;
	
	height:					5px;
	
	background-image:			url('images/textarea/top_center.png');	
}

.SUITextarea .TopRight
{
	float:					left;

	width:					5px;
	height:					5px;
	
	background-image:			url('images/textarea/top_right.png');	
}

.SUITextarea .CenterLeft
{
	float:					left;

	width:					5px;
	
	background-image:			url('images/textarea/center_left.png');	
}

.SUITextarea .CenterCenter
{
	float:					left;

	background-color:			#f9f9f9;
}

.SUITextarea .CenterRight
{
	float:					left;

	width:					5px;
	
	background-image:			url('images/textarea/center_right.png');	
}

.SUITextarea .BottomLeft
{
	float:					left;

	width:					5px;
	height:					5px;
	
	background-image:			url('images/textarea/bottom_left.png');	
}

.SUITextarea .BottomCenter
{
	float:					left;

	height:					5px;
	
	background-image:			url('images/textarea/bottom_center.png');	
}

.SUITextarea .BottomRight
{
	float:					left;

	width:					5px;
	height:					5px;
	
	background-image:			url('images/textarea/bottom_right.png');	
}

.SUITextarea .Provider
{	
	margin:					0px;
	padding:				0px;
	
	width: 					0px;
	height:					0px;
	
	background-color:			transparent;
	
	border: 				none;	
	
	font-size:				14px;
	font-weight:				bold;
	text-decoration: 			none;
}
/* --------------------------------------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------------------------------------- */
.SUIButton
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIButtonFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIButtonDisabled
{
}

.SUIButtonLeftClicked
{
}

.SUIButton .Left
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					5px;
	height: 					31px;
	background: 				transparent url('images/button/left.png') no-repeat;	
}

.SUIButtonLeftClicked .Left
{
	background: 				transparent url('images/button/left_clicked.png') no-repeat;
}

.SUIButtonDisabled .Left
{
	background: 				transparent url('images/button/left_disabled.png') no-repeat;	
}

.SUIButton .Center
{
	float: 					left;

	margin-top: 				3px;
	margin-bottom:				3px;

	padding-top:				8px;
	
	height:					23px;
	background: 				transparent url('images/button/center.png') repeat-x;
	
	font-family:				arial;
	font-size: 				12px;
	text-align:				center;		
	text-decoration: 			none;	
	font-weight:			bold;
	
	color:					#ffffff;



	
	cursor:					default;
	
	-moz-user-select: 			none;
	-khtml-user-select: 			none;
	user-select: 				none;
}

.SUIButtonLeftClicked .Center
{
	padding-top:				9px;
	
	height:					22px;
	
	background: 				transparent url('images/button/center_clicked.png') repeat-x;	
}

.SUIButtonDisabled .Center
{
	background: 				transparent url('images/button/center_disabled.png') repeat-x;	
	
	color:					#dddddd;
}

.SUIButton .Right
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					5px;
	height: 					31px;
	
	background: 				transparent url('images/button/right.png') no-repeat;
}

.SUIButtonLeftClicked .Right
{
	background: 				transparent url('images/button/right_clicked.png') no-repeat;	
}

.SUIButtonDisabled .Right
{
	background: 				transparent url('images/button/right_disabled.png') no-repeat;	
}












.SUIButtonContainer
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIButtonContainerFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIButtonControlButtonLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					5px;
	height: 					31px;
	background: 				transparent url('images/button/left.png') no-repeat;	
}

.SUIButtonControlButtonLeftFocus
{
}


.SUIButtonControlButtonLeftClicked
{
	background: 				transparent url('images/button/left_clicked.png') no-repeat;	
}

.SUIButtonControlButtonLeftDisabled
{
	background: 				transparent url('images/button/left_disabled.png') no-repeat;	
}

.SUIButtonControlButtonCenter
{
	float: 					left;

	margin-top: 				3px;
	margin-bottom:				3px;

	padding-top:				8px;
	
	height:					23px;
	background: 				transparent url('images/button/center.png') repeat-x;
	
	font-family:				arial;
	font-size: 				12px;
	text-align:				center;		
	text-decoration: 			none;	
	font-weight:			bold;
	
	color:					#ffffff;
	
	cursor:					default;
	
	-moz-user-select: 			none;
	-khtml-user-select: 			none;
	user-select: 				none;
}

.SUIButtonControlButtonCenterFocus
{
}

.SUIButtonControlButtonCenterClicked
{
	padding-top:				9px;
	
	height:					22px;
	
	background: 				transparent url('images/button/center_clicked.png') repeat-x;	
}

.SUIButtonControlButtonCenterDisabled
{
	background: 				transparent url('images/button/center_disabled.png') repeat-x;	
	
	color:					#dddddd;
}

.SUIButtonControlButtonRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					5px;
	height: 					31px;
	
	background: 				transparent url('images/button/right.png') no-repeat;	
}

.SUIButtonControlButtonRightFocus
{
}

.SUIButtonControlButtonRightClicked
{
	background: 				transparent url('images/button/right_clicked.png') no-repeat;	
}

.SUIButtonControlButtonRightDisabled
{
	background: 				transparent url('images/button/right_disabled.png') no-repeat;	
}
/* --------------------------------------------------------------------------------------------------------------
Checkbox
-------------------------------------------------------------------------------------------------------------- */
.SUICheckbox
{
	margin: 				3px;	

	display: 				inline-block;

	outline:				none;
	cursor:					default;			
}

.SUICheckboxFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUICheckboxDisabled
{}

.SUICheckboxChecked
{}

.SUICheckboxDisabledChecked
{}

.SUICheckbox .Checkmark
{
	margin: 				5px;
					
	height: 				19px;	
	width: 					19px;	

	background-image:			url('images/checkbox/unchecked.png');
	background-position:			center center;
	background-repeat:			no-repeat;	
}

.SUICheckboxFocus .Checkmark
{}

.SUICheckboxChecked .Checkmark
{
	background-image:			url('images/checkbox/checked.png');
}

.SUICheckboxDisabled .Checkmark
{
	background-image:			url('images/checkbox/unchecked_disabled.png');
}

.SUICheckboxDisabledChecked .Checkmark
{
	background-image:			url('images/checkbox/checked_disabled.png');
}
/* --------------------------------------------------------------------------------------------------------------
Listview
-------------------------------------------------------------------------------------------------------------- */
.SUIListview
{
	position: relative;

	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIListviewFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIListviewDisabled
{}

.SUIListview .TopLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;

	
	width: 					5px;
	height: 				34px;
	background: 				transparent url('images/listview/top_left.png') no-repeat;		
}

SUIListviewFocus .TopLeft
{}

.SUIListviewDisabled .TopLeft
{
	background: 				transparent url('images/listview/top_left_disabled.png') no-repeat;	
}

.SUIListview .TopCenter
{
	float: 					left;

	margin-top: 				3px;	

	
	height:					34px;
	background: 				transparent url('images/listview/top_center.png') repeat-x;	
}

.SUIListviewFocus. TopCenter
{}

.SUIListviewDisabled .TopCenter
{
	background: 				transparent url('images/listview/top_center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIListview .TopRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;

		
	width: 					5px;
	height: 				34px;
	
	background: 				transparent url('images/listview/top_right.png') no-repeat;	
}

.SUIListviewFocus .TopRight
{}

.SUIListviewDisabled .TopRight
{
	background: 				transparent url('images/listview/top_right_disabled.png') no-repeat;	
}

.SUIListview .ContentLeft
{
	float: 					left;
	
	margin-left:				3px;


	width: 					5px;

	background: 				transparent url('images/listview/content_left.png') repeat-y;	
}

.SUIListviewFocus .ContentLeft
{}

.SUIListviewDisabled  .ContentLeft
{
	background: 				transparent url('images/listview/content_left_disabled.png') repeat-y;	
}

.SUIListview .ContentCenter
{
	float: 					left;
	
	background: 				#ffffff url('images/listview/content_center.png') repeat-x;		
	
	outline: 				none;
}

.SUIListviewFocus .ContentCenter
{}

.SUIListviewDisabled .ContentCenter
{
	background: 				#ffffff url('images/listview/content_center_disabled.png') repeat-x;	
}

.SUIListview .ContentRight
{
	float: 					left;
	
	margin-right:				3px;

		
	width: 					5px;
	
	background: 				transparent url('images/listview/content_right.png') repeat-y;	
}

.SUIListviewFocus .ContentRight
{}

.SUIListviewDisabled .ContentRight
{
	background: 				transparent url('images/listview/content_right_disabled.png') repeat-y;	
}

.SUIListview .BottomLeft
{
	float: 					left;
	
	margin-left:				3px;
	margin-bottom:				3px;


	width: 					5px;
	height:					4px;	
	
	background: 				transparent url('images/listview/bottom_left.png') no-repeat;	
}

.SUIListviewFocus .BottomLeft
{}

.SUIListviewDisabled .BottomLeft
{
	background: 				transparent url('images/listview/bottom_left_disabled.png') no-repeat;	
}

.SUIListview .BottomCenter
{
	float: 					left;
	
	margin-bottom:				3px;
	
	height:					4px;

	background: 				transparent url('images/listview/bottom_center.png') repeat-x;		
}

.SUIListviewFocus .BottomCenter
{}

.SUIListviewDisabled .BottomCenter
{
	background: 				transparent url('images/listview/bottom_center_disabled.png') repeat-x;	
}

.SUIListview .BottomRight
{
	float: 					left;
	
	margin-right:				3px;
	margin-bottom:				3px;
	
	height: 				4px;

		
	width: 					5px;	
	
	background: 				transparent url('images/listview/bottom_right.png') no-repeat;
}

.SUIListviewFocus .BottomRight
{}

.SUIListviewDisabled .BottomRight
{
	background: 				transparent url('images/listview/bottom_right_disabled.png') no-repeat;
}

.SUIListview .Header
{
	float:					left;
	
	margin-left:				4px;
	margin-top:				8px;
	margin-right:				4px;
	
	font-size:				14px;
	font-weight:				bold;
	text-decoration: 			none;	
	
	background: 				transparent url('images/listview/header.png') no-repeat;	
	background-position:			right center;	
	color:					#555555;
}

.SUIListviewDisabled .Header
{
	background: 				transparent url('images/listview/header_disabled.png') no-repeat;	
	background-position:			right center;	

	color:					#aaaaaa;
}



.SUIListview .ItemRow
{	
	padding-top: 				2px;
	
	height:					20px;	

	background:				transparent;

	cursor:					default;	
}

.SUIListview .ItemRowSelected
{
	background:				#bbbbbb;	
}

.SUIListviewFocus .ItemRow
{}

.SUIListviewDisabled .ItemRow
{

	
}



.SUIListviewFocus .ItemRowSelected
{	
	background-color:			#86b510;
}

.SUIListviewDisabled .ItemRow
{
	cursor:					default;
}

.SUIListviewDisabled .ItemRowSelected
{
	background-color:			#dddddd;
	cursor:					default;
}




.SUIListview .ItemColumn
{
	float:					left;
	
	margin-left:				4px;
	margin-right:				4px;
	padding-top:				2px;
	padding-bottom:				2px;
	
	
	font-size:				14px;
	font-weight:				bold;
	text-decoration: 			none;	

	background: 				transparent url('images/listview/item.png') repeat-y;

	background-position:			right top;	
}

.SUIListview .ItemRowSelected .ItemColumn
{
	color: #ffffff;
}

.SUIListviewDisabled .ItemColumn
{
	color: #aaaaaa;
}/* --------------------------------------------------------------------------------------------------------------
Dropbox
-------------------------------------------------------------------------------------------------------------- */
.SUIDropbox
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIDropboxFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIDropboxDisabled
{
}


.SUIDropbox .Left
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					4px;
	height: 				31px;
	background: 				transparent url('images/dropbox/left.png') no-repeat;
}

.SUIDropboxDisabled .Left
{
	background: 				transparent url('images/dropbox/left_disabled.png') no-repeat;	
}

.SUIDropbox .Center
{
	position:				relative;
	
	float: 					left;

	margin-top: 				3px;	
	margin-bottom:				3px;
	
	height:					31px;
	background: 				transparent url('images/dropbox/center.png') repeat-x;	
}

.SUIDropboxDisabled .Center
{
	background: 				transparent url('images/dropbox/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIDropbox .Right
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					4px;
	height: 				31px;
	
	background: 				transparent url('images/dropbox/right.png') no-repeat;	
}

.SUIDropboxDisabled .Right
{
	background: 				transparent url('images/dropbox/right_disabled.png') no-repeat;	
}

.SUIDropbox .Text
{
	margin:					4px;
	margin-top: 8px;
	
	font-size:				14px;
	font-weight:				bold;
	
	text-decoration: 			none;	
	
	color:					#444444;
	
	cursor:					default;
	
	-moz-user-select: 			none;
	-khtml-user-select: 			none;
	user-select: 				none;	
}

.SUIDropboxDisabled .Text
{
	color:					#aaaaaa;
}

.SUIDropbox .Arrow
{
	position: 				absolute;
	
	top: 					1px;
	right:					0px;
	
	width:					26px;
	height:					25px;
	
	background: 				transparent url('images/dropbox/arrow.png') no-repeat;	
}

.SUIDropboxDisabled .Arrow
{
	background: 				transparent url('images/dropbox/arrow_disabled.png') no-repeat;	
}

.SUIDropbox .ItemList
{
	position:				absolute;
	
	top:					30px;
	left:					-1px;

	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	
	background: 				#f4f4f5 url('images/dropbox/itemlist.png') repeat-x;	

	z-index: 100;
}

.SUIDropbox .Item
{
	padding:				3px;
	padding-left:				4px;
	
	font-size:				14px;
	font-weight:			bold;
	text-decoration: 			none;	
	
	color:					#444444;
	
	cursor:					default;
	
	-moz-user-select: 			none;
	-khtml-user-select: 			none;
	user-select: 				none;
}

.SUIDropbox .ItemFocus
{
	background:				#bbbbbb;
	
	color:					#ffffff;
}

.SUIDropbox .ItemSelected
{
	background:				#86b510;
	
	color:					#ffffff;
}














.SUIDropboxContainer
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIDropboxContainerFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIDropboxControlLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					4px;
	height: 				31px;
	background: 				transparent url('images/dropbox/left.png') no-repeat;	
}

.SUIDropboxControlLeftDisabled
{
	background: 				transparent url('images/dropbox/left_disabled.png') no-repeat;	
}

.SUIDropboxControlCenter
{
	float: 					left;

	margin-top: 				3px;	
	margin-bottom:				3px;
	
	height:					31px;
	background: 				transparent url('images/dropbox/center.png') repeat-x;	
}

.SUIDropboxControlCenterDisabled



{
	background: 				transparent url('images/dropbox/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIDropboxControlRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					4px;
	height: 				31px;
	
	background: 				transparent url('images/dropbox/right.png') no-repeat;	
}

.SUIDropboxControlRightDisabled
{
	background: 				transparent url('images/dropbox/right_disabled.png') no-repeat;	
}

.SUIDropboxControlInput
{	
	margin: 				2px;

	border:					none;

	background:				transparent;
	
	font-size:				13px;
}

.SUIDropboxControlArrow
{
	position: 				absolute;
	
	top: 					1px;
	right:					0px;
	
	width:					26px;
	height:					25px;
	
	background: 				transparent url('images/dropbox/arrow.png') no-repeat;	
}

.SUIDropboxControlArrowDisabled
{
	background: 				transparent url('images/dropbox/arrow_disabled.png') no-repeat;	
}

.SUIDropboxControlText
{
	margin:					4px;
	margin-top: 8px;
	
	font-size:				14px;
	font-weight:			bold;
	
	text-decoration: 			none;	
	
	color:					#444444;
	
	cursor:					default;
	
	-moz-user-select: 			none;
	-khtml-user-select: 			none;
	user-select: 				none;	

}

.SUIDropboxControlTextDisabled
{
	color:					#aaaaaa;
}


.SUIDropboxControlItem
{
	padding:				3px;
	padding-left:				4px;
	
		font-size:				14px;
	font-weight:			bold;
	text-decoration: 			none;	
	
	color:					#555555;
	
	cursor:					default;
	
	-moz-user-select: 			none;
	-khtml-user-select: 			none;
	user-select: 				none;	
}

.SUIDropboxControlItemFocus
{	
	background:				#444444;
	
	color:					#ffffff;
}



.SUIDropboxControlDrop
{
	position:				absolute;
	
	top:					30px;
	left:					-1px;
	
	border-style: 1px;
	border-color: #666666;
	
	background: 				#dbdbdb;
	
	

	
	z-index: 100;
}/* --------------------------------------------------------------------------------------------------------------
Textbox
-------------------------------------------------------------------------------------------------------------- */
.SUITextbox
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUITextboxFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUITextboxDisabled
{
}

.SUITextbox .Left
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					5px;
	height: 				31px;
	
	background: 				transparent url('images/textbox/left.png') no-repeat;
}

.SUITextboxFocus .Left
{
}

.SUITextboxDisabled .Left
{
	background: 				transparent url('images/textbox/left_disabled.png') no-repeat;	
}

.SUITextbox .Center
{
	float: 					left;

	margin-top: 				3px;	
	margin-bottom:				3px;
	
	height:					31px;
	
	background: 				transparent url('images/textbox/center.png') repeat-x;	
}

.SUITextboxFocus .Center
{
}

.SUITextboxDisabled .Center
{
	background: 				transparent url('images/textbox/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUITextbox .Right
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					5px;
	height: 				31px;
	
	background: 				transparent url('images/textbox/right.png') no-repeat;
}

.SUITextboxFocus .Right
{
}

.SUITextboxDisabled .Right
{
	background: 				transparent url('images/textbox/right_disabled.png') no-repeat;	
}

.SUITextbox .Input
{
	margin: 				2px;
	margin-top: 				7px;
	margin-left: 				2px;
	margin-right: 				10px;

	border:					none;

width: 0px;

	background:				transparent;
	
	font-family: 				arial;
	font-size:				14px;
	font-weight:				bold;
}

.SUITextboxFocus .Input
{
}

.SUITextboxDisabled .Input
{
	cursor:					default;
}




.SUITextboxContainer
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUITextboxContainerFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUITextboxControlLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					5px;
	height: 					31px;
	background: 				transparent url('images/textbox/left.png') no-repeat;	
}

.SUITextboxControlLeftDisabled
{
	background: 				transparent url('images/textbox/left_disabled.png') no-repeat;	
}

.SUITextboxControlCenter
{
	float: 					left;

	margin-top: 				3px;	
	margin-bottom:				3px;
	
	height:					31px;
	background: 				transparent url('images/textbox/center.png') repeat-x;	
}

.SUITextboxControlCenterDisabled
{
	background: 				transparent url('images/textbox/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUITextboxControlRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					5px;
	height: 					31px;
	
	background: 				transparent url('images/textbox/right.png') no-repeat;	
}

.SUITextboxControlRightDisabled
{
	background: 				transparent url('images/textbox/right_disabled.png') no-repeat;	
}

.SUITextboxControlInput
{	
	margin: 				2px;
	margin-top: 7px;
	margin-left: 2px;
	margin-right: 2px;

	border:					none;

	background:				transparent;
	font-family: arial;
	font-size:				14px;
	font-weight:			bold;
}
/* --------------------------------------------------------------------------------------------------------------
Upload
-------------------------------------------------------------------------------------------------------------- */
.SUIUpload
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIUploadFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIUploadDisabled
{}

.SUIUpload .Left
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					5px;
	height: 				31px;
	
	background: 				transparent url('images/upload/left.png') no-repeat;	
}

.SUIUploadFocus .Left
{}

.SUIUploadLeftClicked .Left
{
	background: 				transparent url('images/upload/left_leftclicked.png') no-repeat;	
}

.SUIUploadDisabled .Left
{
	background: 				transparent url('images/upload/left_disabled.png') no-repeat;	
}

.SUIUpload .Center
{
	float: 					left;

	margin-top: 				3px;
	margin-bottom:				3px;

	padding-top:				8px;
	
	height:					23px;
	background: 				transparent url('images/upload/center.png') repeat-x;
	
	font-size: 				12px;
	font-weight:				bold;
	text-align:				center;		
	text-decoration: 			none;	
	
	color:					#555555;
	
	cursor:					default;
}

.SUIUploadFocus .Center
{}

.SUIUploadLeftClicked .Center
{
	padding-top:				9px;
	
	height:					23px;
	
	background: 				transparent url('images/upload/center_leftclicked.png') repeat-x;
}

.SUIUploadDisabled .Center
{
	background: 				transparent url('images/upload/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIUpload .Right
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					5px;
	height: 				31px;
	
	background: 				transparent url('images/upload/right.png') no-repeat;	
}

.SUIUploadFocus .Right
{}

.SUIUploadLeftClicked .Right
{
	background: 				transparent url('images/upload/right_leftclicked.png') no-repeat;	
}

.SUIUploadDisabled .Right
{
	background: 				transparent url('images/upload/right_disabled.png') no-repeat;	
}

.SUIUpload .Text
{
	float:					right;

	margin:					11px;		
	
	font-size: 				12px;
	font-weight:				bold;
	text-align:				center;		
	text-decoration: 			none;	
	
	color:					#555555;
}

.SUIUploadFocus .Text
{}

.SUIUploadDisabeld .Text
{
	color:					#aaaaaa;
}

.SUIUpload .Th
{
	float: right;
	margin: 3px;

	width: 32px;
	height: 31px;	
	
	background: 				transparent url('images/upload/throbber.png') no-repeat;		
}

.SUIUpload .ThrobberAnimation
{
	position: 				relative;

	width:					24px;
	height:					24px;

	background: 				transparent url('images/upload/throbber_animation.gif') no-repeat;		
}






.SUIUploadContainer
{
	margin: 				1px;	

	display: 				inline-block;
	
	outline:				none;
}

.SUIUploadContainerFocus
{
	outline:				#aaaaaa dotted 1px;
}

.SUIUploadControlButtonLeft
{
	float: 					left;
	
	margin-top: 				3px;
	margin-left:				3px;
	margin-bottom:				3px;
	
	width: 					4px;
	height: 				31px;
	
	background: 				transparent url('images/upload/left.png') no-repeat;	
}

.SUIUploadControlButtonLeftFocus
{
}

.SUIUploadControlButtonLeftClicked
{
	background: 				transparent url('images/upload/left_clicked.png') no-repeat;	
}

.SUIUploadControlButtonLeftDisabled
{
	background: 				transparent url('images/upload/left_disabled.png') no-repeat;	
}

.SUIUploadControlButtonCenter
{
	float: 					left;

	margin-top: 				3px;
	margin-bottom:				3px;

	padding-top:				8px;
	
	height:					23px;
	background: 				transparent url('images/upload/center.png') repeat-x;
	
	font-size: 				14px;
	font-weight:				bold;
	text-align:				center;		
	text-decoration: 			none;	
	
	color:					#555555;
	
}

.SUIUploadControlButtonCenterFocus
{
}

.SUIUploadControlButtonCenterClicked
{
	padding-top:				4px;
	
	height:					18px;
	
	background: 				transparent url('images/upload/center_clicked.png') repeat-x;	
}

.SUIUploadControlButtonCenterDisabled
{
	background: 				transparent url('images/upload/center_disabled.png') repeat-x;	
	
	color:					#aaaaaa;
}

.SUIUploadControlButtonRight
{
	float: 					left;
	
	margin-top: 				3px;
	margin-right:				3px;
	margin-bottom:				3px;
		
	width: 					4px;
	height: 				31px;
	
	background: 				transparent url('images/upload/right.png') no-repeat;	
}

.SUIUploadControlButtonRightFocus
{
}

.SUIUploadControlButtonRightClicked
{
	background: 				transparent url('images/upload/right_clicked.png') no-repeat;	
}

.SUIUploadControlButtonRightDisabled
{
	background: 				transparent url('images/upload/right_disabled.png') no-repeat;	
}

.SUIUploadText
{
	margin:					7px;		
	
	font-size: 				14px;
	font-weight:				bold;
	text-align:				center;		
	text-decoration: 			none;	
	
	color:					#555555;
}